node-red.json
[{"id":"f4912fa1.79cf9","type":"tab","label":"Riego","disabled":false,"info":""},{"id":"753ca15b.d424b","type":"tab","label":"Medioambiente","disabled":false,"info":""},{"id":"9401cbe4.25aef8","type":"tab","label":"Dash Manten","disabled":false,"info":""},{"id":"85e3fe31.9939","type":"tab","label":"Dash Medio","disabled":false,"info":""},{"id":"bb29a94b.bb3258","type":"tab","label":"Dash Riego","disabled":false,"info":""},{"id":"d3f8e303.d1678","type":"tab","label":"Dash Monitor","disabled":false,"info":""},{"id":"c112cc01.45f44","type":"subflow","name":"Ventilador","info":"","category":"","in":[{"x":25,"y":25,"wires":[{"id":"bc665e0.6ec3aa"},{"id":"d7c9c974.3e00b8"}]}],"out":[{"x":974.5,"y":125.5,"wires":[{"id":"48b2fce.0cd2404","port":0},{"id":"9fac106.afc99f","port":0},{"id":"8f8709ff.d3bbd8","port":0},{"id":"386137c9.723728","port":0},{"id":"11ba5c64.b8b874","port":0},{"id":"ea910026.5b9b1","port":0},{"id":"90177870.b41dc8","port":0},{"id":"de8c9df.037d56","port":0},{"id":"859d824d.c4b16","port":0}]}],"inputLabels":["modo"],"outputLabels":["ventilador"]},{"id":"d67bf55a.451c08","type":"subflow","name":"Regar","info":"","category":"","in":[{"x":25,"y":197,"wires":[{"id":"7fb061c4.6a9e5"}]}],"out":[{"x":705.7143859863281,"y":144.2857151031494,"wires":[{"id":"5433bae0.451a24","port":0}]},{"x":1008.0000610351562,"y":293.7143249511719,"wires":[{"id":"9ca509ff.d36918","port":0},{"id":"1346ca68.faa806","port":0}]},{"x":725.2858276367188,"y":442.71429443359375,"wires":[{"id":"9ca509ff.d36918","port":0},{"id":"7fb061c4.6a9e5","port":0},{"id":"6c314fa.e6d4ab","port":0}]},{"x":725.7144012451172,"y":496.57140159606934,"wires":[{"id":"9ca509ff.d36918","port":0},{"id":"f88e985e.b09f88","port":0}]},{"x":724.5714111328125,"y":559.0000267028809,"wires":[{"id":"9ca509ff.d36918","port":0},{"id":"b8087a61.279388","port":0}]},{"x":722.2857666015625,"y":618.8572044372559,"wires":[{"id":"451374b8.9f848c","port":0},{"id":"9ca509ff.d36918","port":0}]}],"outputLabels":["Llenado","Riego","Acondicionador","Fertilizante 1","Fertilizante 2","Fertilizante 3"]},{"id":"dfa8e8c8.725d38","type":"subflow","name":"Fotoperiodo","info":"","category":"","in":[{"x":67.00000095367432,"y":43.00000476837158,"wires":[{"id":"2cb8826a.aa929e"}]}],"out":[{"x":1125.5,"y":285.00000190734863,"wires":[{"id":"a804b4c3.f250f8","port":0},{"id":"2b3b7f3d.bdd58","port":0},{"id":"755eefd0.c0be","port":2},{"id":"adb8ebe3.f61628","port":2},{"id":"d13065a1.d99bb8","port":2},{"id":"52297db9.8370b4","port":2}]}]},{"id":"d1e3def2.190da","type":"mqtt-broker","z":"","name":"pcduino","broker":"localhost","port":"1883","clientid":"192.168.1.106","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8f807ec.d45e38","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Armario","hideToolbar":"true","allowSwipe":"true","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":7,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"25e303fa.cb89cc","type":"ui_tab","z":"","name":"Monitor","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"27870a16.10a9f6","type":"ui_group","z":"","name":"Suelo","tab":"25e303fa.cb89cc","order":3,"disp":false,"width":"7","collapse":false},{"id":"cca2f564.2643f8","type":"ui_group","z":"","name":"Medioambiente","tab":"3f33b774.5d1e28","order":2,"disp":true,"width":"7","collapse":false},{"id":"f7f6acc3.19498","type":"ui_group","z":"","name":"Riego","tab":"3f33b774.5d1e28","order":3,"disp":true,"width":"7","collapse":false},{"id":"ec0dc710.e38178","type":"persist-store","z":"","filename":"dashboad.json","interval":"60"},{"id":"9e8b98be.eaf5f8","type":"ui_group","z":"","name":"Emular","tab":"3f33b774.5d1e28","order":1,"disp":true,"width":"7","collapse":false},{"id":"a38af3a0.9f114","type":"ui_spacer","name":"spacer","group":"f7f6acc3.19498","order":4,"width":1,"height":1},{"id":"a6744f31.7903c","type":"ui_group","z":"","name":"Purgado","tab":"e915ebd8.94ade8","disp":true,"width":"7","collapse":true},{"id":"e915ebd8.94ade8","type":"ui_tab","z":"","name":"Mantenimiento","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"3f33b774.5d1e28","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"32a4c0c.e40304","type":"ui_group","z":"","name":"Temperatura","tab":"25e303fa.cb89cc","order":1,"disp":false,"width":"7","collapse":false},{"id":"2c4a4dba.769ce2","type":"ui_group","z":"","name":"Humedad","tab":"25e303fa.cb89cc","order":2,"disp":false,"width":"7","collapse":false},{"id":"ea485183.dfa9f","type":"ui_spacer","name":"spacer","group":"cca2f564.2643f8","order":3,"width":"7","height":1},{"id":"22a95ff3.8bdc1","type":"ui_spacer","name":"spacer","group":"cca2f564.2643f8","order":5,"width":"7","height":1},{"id":"6a4b31ab.68f27","type":"ui_group","z":"","name":"Modo Mantenimiento","tab":"e915ebd8.94ade8","disp":true,"width":"6","collapse":false},{"id":"3755d5b1.14941a","type":"ui_group","z":"","name":"Calibrar","tab":"e915ebd8.94ade8","disp":true,"width":"7","collapse":true},{"id":"1a63be57.ec5232","type":"ui_numeric","z":"85e3fe31.9939","name":"","label":"Humedad","tooltip":"","group":"cca2f564.2643f8","order":1,"width":0,"height":0,"passthru":true,"topic":"Armario/Humedad/Target","format":"{{value}}","min":"20","max":"100","step":"5","x":314,"y":153.5,"wires":[["3a80ba42.27ee96"]]},{"id":"aa0ee53b.06f848","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/Temperatura","qos":"2","broker":"d1e3def2.190da","x":127,"y":55,"wires":[["a5c61774.a93928"]]},{"id":"67325569.9664bc","type":"mqtt out","z":"753ca15b.d424b","name":"Ventilador Armario ","topic":"Armario/Relay/2","qos":"","retain":"","broker":"d1e3def2.190da","x":642.75,"y":450.7500057220459,"wires":[]},{"id":"f9be00a6.b01ed","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/Humedad","qos":"2","broker":"d1e3def2.190da","x":119,"y":124,"wires":[["6b2b4a46.137d34"]]},{"id":"3a80ba42.27ee96","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"HumedadTarget","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":564,"y":149.5,"wires":[["e9bbda7c.89ff98"]]},{"id":"f98831f6.a5a2d","type":"ui_numeric","z":"85e3fe31.9939","name":"","label":"Temperatura","tooltip":"","group":"cca2f564.2643f8","order":2,"width":0,"height":0,"passthru":true,"topic":"Armario/Temperature/Target","format":"{{value}}","min":0,"max":"50","step":1,"x":325,"y":64.5,"wires":[["72450d63.2989c4"]]},{"id":"72450d63.2989c4","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"TemperaturaTarget","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":564,"y":63.5,"wires":[["3a55220a.39516e"]]},{"id":"589cf1a7.4a74a","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"Fotoperiodo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":512,"y":606.7499990463257,"wires":[["69e0d418.0ad04c","fab5a6bb.fb8478"]]},{"id":"e15c3797.2a6018","type":"ui_dropdown","z":"85e3fe31.9939","name":"","label":"Fotoperiodo","tooltip":"","place":"Select option","group":"cca2f564.2643f8","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Vegetativo Intensivo","value":"VegetativoIntensivo","type":"str"},{"label":"Vegetativo","value":"Vegetativo","type":"str"},{"label":"Floracion","value":"Floracion","type":"str"},{"label":"Final Floracion","value":"FinalFloracion","type":"str"},{"label":"On","value":"On","type":"str"},{"label":"Off","value":"Off","type":"str"}],"payload":"","topic":"","x":318,"y":604.7499990463257,"wires":[["589cf1a7.4a74a"]]},{"id":"fab5a6bb.fb8478","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/Fotoperiodo","qos":"","retain":"","broker":"d1e3def2.190da","x":766,"y":580.7499990463257,"wires":[]},{"id":"f1ba79f8.9347e8","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Armario/Regar","qos":"2","broker":"d1e3def2.190da","x":192.14287948608398,"y":522.7856798171997,"wires":[["e980a6f9.bed868"]]},{"id":"1365c211.2d9d2e","type":"change","z":"d67bf55a.451c08","name":"Fertilizante1Ml","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($globalContext(\"Fertilizante1Ml\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.07141876220703,"y":494.7500259876251,"wires":[["f88e985e.b09f88"]]},{"id":"bf24bc57.04eb3","type":"change","z":"d67bf55a.451c08","name":"Fertilizante2Ml","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($globalContext(\"Fertilizante2Ml\"))*$number($globalContext(\"PertistalticMlRatio\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.9285583496094,"y":558.7857322692871,"wires":[["b8087a61.279388"]]},{"id":"26aaaf49.5602a","type":"change","z":"d67bf55a.451c08","name":"AguaMl","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($globalContext(\"AguaMl\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":358,"y":144.5000057220459,"wires":[["5433bae0.451a24"]]},{"id":"5433bae0.451a24","type":"function","z":"d67bf55a.451c08","name":"payload Trigger","func":"var t = 0;\nif (msg.reset != 0)\n{\n    clearTimeout(t);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    //msg.payload = \"0\"\n    //node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});\n    msg.payload = \"1\"\n    node.send(msg)\n\nt = setTimeout(function()\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}   , number); // sets timeout\n\n\nreturn null;\n\n}\n\n","outputs":1,"noerr":0,"x":528,"y":144.5000057220459,"wires":[["21833a5c.eb3ac6"]],"icon":"node-red/trigger.png"},{"id":"21833a5c.eb3ac6","type":"switch","z":"d67bf55a.451c08","name":"When Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":719.857120513916,"y":205.07142639160156,"wires":[["6c314fa.e6d4ab"]]},{"id":"6c314fa.e6d4ab","type":"delay","z":"d67bf55a.451c08","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":735.5714492797852,"y":262.50000762939453,"wires":[["1346ca68.faa806"]]},{"id":"1346ca68.faa806","type":"trigger","z":"d67bf55a.451c08","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":871.714225769043,"y":327.21427631378174,"wires":[["97b431f9.3895f"]]},{"id":"83b954ff.826308","type":"persist out","z":"85e3fe31.9939","name":"Fotoperiodo","storageNode":"ec0dc710.e38178","x":144.5,"y":606.7499990463257,"wires":[["e15c3797.2a6018"]]},{"id":"69e0d418.0ad04c","type":"persist in","z":"85e3fe31.9939","name":"Fotoperiodo","storageNode":"ec0dc710.e38178","x":738.5,"y":642.7499990463257,"wires":[]},{"id":"e9bbda7c.89ff98","type":"persist in","z":"85e3fe31.9939","name":"Humedad","storageNode":"ec0dc710.e38178","x":776.5,"y":150.5,"wires":[]},{"id":"c0c96494.6f3098","type":"persist out","z":"85e3fe31.9939","name":"Humedad","storageNode":"ec0dc710.e38178","x":174.5,"y":155.5,"wires":[["1a63be57.ec5232"]]},{"id":"3a55220a.39516e","type":"persist in","z":"85e3fe31.9939","name":"Temperatura","storageNode":"ec0dc710.e38178","x":785.5,"y":62.5,"wires":[]},{"id":"3471c5d.bd3003a","type":"persist out","z":"85e3fe31.9939","name":"Temperatura","storageNode":"ec0dc710.e38178","x":166.5,"y":64.5,"wires":[["f98831f6.a5a2d"]]},{"id":"57b269f.51cff98","type":"ui_dropdown","z":"85e3fe31.9939","name":"","label":"V  Intra/Extra","tooltip":"","place":"Select option","group":"cca2f564.2643f8","order":6,"width":0,"height":0,"passthru":true,"options":[{"label":"On","value":"On","type":"str"},{"label":"Off","value":"Off","type":"str"},{"label":"1 Minuto Cada 5 ","value":"1m5m","type":"str"},{"label":"30 Minutos al Dia","value":"30m24h","type":"str"},{"label":"Fotoperiodo","value":"Fotoperiodo","type":"str"},{"label":"Temperatura Alta","value":"TemperaturaAlta","type":"str"},{"label":"Humedad Alta","value":"HumedadAlta","type":"str"}],"payload":"","topic":"","x":325.5,"y":355.5,"wires":[["2792a2d4.ef1d4e"]]},{"id":"2792a2d4.ef1d4e","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"VIntraExtra","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":532,"y":358.5,"wires":[["18933d68.ed8113","1979f465.31746c"]]},{"id":"1979f465.31746c","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/VIntraExtra","qos":"","retain":"","broker":"d1e3def2.190da","x":773,"y":346.5,"wires":[]},{"id":"b5e99541.06d608","type":"persist out","z":"85e3fe31.9939","name":"VIntraExtra","storageNode":"ec0dc710.e38178","x":156.5,"y":355.5,"wires":[["57b269f.51cff98"]]},{"id":"18933d68.ed8113","type":"persist in","z":"85e3fe31.9939","name":"VIntraExtra","storageNode":"ec0dc710.e38178","x":758.5,"y":394.5,"wires":[]},{"id":"f841d161.4bedd","type":"switch","z":"c112cc01.45f44","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"1m5m","vt":"str"},{"t":"eq","v":"30m24h","vt":"str"},{"t":"eq","v":"Fotoperiodo","vt":"str"},{"t":"eq","v":"TemperaturaAlta","vt":"str"},{"t":"eq","v":"HumedadAlta","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":372.5000305175781,"y":254,"wires":[["48b2fce.0cd2404"],["9fac106.afc99f"],["61cd289b.186258"],["a446b41b.18f178"],["cf68c54b.34b898"],["ee224afc.932d68"],["160c6ad9.fe5365"]]},{"id":"48b2fce.0cd2404","type":"change","z":"c112cc01.45f44","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":658.5000152587891,"y":23,"wires":[[]]},{"id":"9fac106.afc99f","type":"change","z":"c112cc01.45f44","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":659.5000152587891,"y":75,"wires":[[]]},{"id":"8f8709ff.d3bbd8","type":"trigger","z":"c112cc01.45f44","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":749.0000152587891,"y":207,"wires":[[]]},{"id":"61cd289b.186258","type":"trigger","z":"c112cc01.45f44","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"-6","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":720.0000152587891,"y":142,"wires":[["8f8709ff.d3bbd8"]]},{"id":"de8c9df.037d56","type":"bigtimer","z":"c112cc01.45f44","outtopic":"","outpayload1":"","outpayload2":"","name":"30min24h","comment":"","lat":"-34.6083","lon":"-58.3712","starttime":"1320","endtime":"10030","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":771.0000152587891,"y":268.5,"wires":[[],[],[]]},{"id":"183e42e2.6f64bd","type":"switch","z":"c112cc01.45f44","name":"Temperatura Alta","property":"Temperatura","propertyType":"global","rules":[{"t":"gte","v":"TemperaturaTarget","vt":"global"},{"t":"lt","v":"TemperaturaTarget","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":664.0000076293945,"y":495.0000057220459,"wires":[["386137c9.723728"],["11ba5c64.b8b874"]]},{"id":"386137c9.723728","type":"change","z":"c112cc01.45f44","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840.0000076293945,"y":473.0000057220459,"wires":[[]]},{"id":"11ba5c64.b8b874","type":"change","z":"c112cc01.45f44","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840.0000076293945,"y":512.0000057220459,"wires":[[]]},{"id":"ee224afc.932d68","type":"trigger","z":"c112cc01.45f44","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-3","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":641.0000076293945,"y":431.0000057220459,"wires":[["183e42e2.6f64bd"]]},{"id":"42a436d7.e60da8","type":"switch","z":"c112cc01.45f44","name":"Humedad Alta","property":"Humedad","propertyType":"global","rules":[{"t":"gte","v":"HumedadTarget","vt":"global"},{"t":"lt","v":"HumedadTarget","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":656.0000076293945,"y":628.0000057220459,"wires":[["ea910026.5b9b1"],["90177870.b41dc8"]]},{"id":"ea910026.5b9b1","type":"change","z":"c112cc01.45f44","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":844.0000076293945,"y":606.0000057220459,"wires":[[]]},{"id":"90177870.b41dc8","type":"change","z":"c112cc01.45f44","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":844.0000076293945,"y":645.0000057220459,"wires":[[]]},{"id":"160c6ad9.fe5365","type":"trigger","z":"c112cc01.45f44","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-3","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":646.0000076293945,"y":559.0000057220459,"wires":[["42a436d7.e60da8"]]},{"id":"a5c61774.a93928","type":"change","z":"753ca15b.d424b","name":"","rules":[{"t":"set","p":"Temperatura","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":382.5,"y":55,"wires":[[]]},{"id":"6b2b4a46.137d34","type":"change","z":"753ca15b.d424b","name":"","rules":[{"t":"set","p":"Humedad","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":378,"y":124,"wires":[[]]},{"id":"6a4825cb.d36b5c","type":"change","z":"c112cc01.45f44","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":395.00001525878906,"y":20,"wires":[["61cd289b.186258","de8c9df.037d56","ee224afc.932d68","160c6ad9.fe5365","8f8709ff.d3bbd8","859d824d.c4b16"]]},{"id":"52648542.6044fc","type":"delay","z":"c112cc01.45f44","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":154.50001525878906,"y":190.25,"wires":[["f841d161.4bedd"]]},{"id":"a446b41b.18f178","type":"change","z":"c112cc01.45f44","name":"Auto","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.5000152587891,"y":272,"wires":[["de8c9df.037d56"]]},{"id":"ea4d476f.86d958","type":"ui_numeric","z":"85e3fe31.9939","name":"","label":"Humedad","tooltip":"","group":"9e8b98be.eaf5f8","order":1,"width":0,"height":0,"passthru":true,"topic":"Armario/Humedad/Target","format":"{{value}}","min":"20","max":"99","step":1,"x":1315.5000267028809,"y":248.00000476837158,"wires":[["34f3b5be.e5147a","45b18a52.64ec94","6210781a.0e4e38"]]},{"id":"45b18a52.64ec94","type":"persist in","z":"85e3fe31.9939","name":"HumedadEmu","storageNode":"ec0dc710.e38178","x":1541.0000267028809,"y":257.0000047683716,"wires":[]},{"id":"5b66f734.a1ea08","type":"persist out","z":"85e3fe31.9939","name":"HumedadEmu","storageNode":"ec0dc710.e38178","x":1145.0000267028809,"y":248.00000476837158,"wires":[["ea4d476f.86d958"]]},{"id":"1995edfc.290d22","type":"ui_numeric","z":"85e3fe31.9939","name":"","label":"Temperatura","tooltip":"","group":"9e8b98be.eaf5f8","order":1,"width":0,"height":0,"passthru":true,"topic":"Armario/Humedad/Target","format":"{{value}}","min":"0","max":"50","step":1,"x":1332.5000267028809,"y":100.00000667572021,"wires":[["ccea10cc.0cca6","460342d1.5c07cc","e6bd2822.ed55c8"]]},{"id":"460342d1.5c07cc","type":"persist in","z":"85e3fe31.9939","name":"TemperaturaEmu","storageNode":"ec0dc710.e38178","x":1557.0000267028809,"y":119.00000667572021,"wires":[]},{"id":"a77f6f8.5beaa9","type":"persist out","z":"85e3fe31.9939","name":"TemperaturaEmu","storageNode":"ec0dc710.e38178","x":1149.0000267028809,"y":103.00000667572021,"wires":[["1995edfc.290d22"]]},{"id":"34f3b5be.e5147a","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/Humedad","qos":"","retain":"","broker":"d1e3def2.190da","x":1551.5000267028809,"y":207.00000476837158,"wires":[]},{"id":"ccea10cc.0cca6","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/Temperatura","qos":"","retain":"","broker":"d1e3def2.190da","x":1565.5000267028809,"y":71.00000667572021,"wires":[]},{"id":"c46ebe4d.b0da3","type":"ui_dropdown","z":"85e3fe31.9939","name":"","label":"V Interno","tooltip":"","place":"Select option","group":"cca2f564.2643f8","order":8,"width":0,"height":0,"passthru":true,"options":[{"label":"On","value":"On","type":"str"},{"label":"Off","value":"Off","type":"str"},{"label":"1 Minuto Cada 5 ","value":"1m5m","type":"str"},{"label":"30 Minutos al Dia","value":"30m24h","type":"str"},{"label":"Fotoperiodo","value":"Fotoperiodo","type":"str"},{"label":"Temperatura Alta","value":"TemperaturaAlta","type":"str"},{"label":"Humedad Alta","value":"HumedadAlta","type":"str"}],"payload":"","topic":"","x":325,"y":229.5,"wires":[["ca47540e.80d6b8"]]},{"id":"ca47540e.80d6b8","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"VInterno","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":531.5,"y":232.5,"wires":[["146c08ea.3b4867","ed4175c6.e3efc8"]]},{"id":"ed4175c6.e3efc8","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/VInterno","qos":"","retain":"","broker":"d1e3def2.190da","x":782.5,"y":220.5,"wires":[]},{"id":"8d8a9755.8bbfa8","type":"persist out","z":"85e3fe31.9939","name":"VInterno","storageNode":"ec0dc710.e38178","x":156,"y":229.5,"wires":[["c46ebe4d.b0da3"]]},{"id":"146c08ea.3b4867","type":"persist in","z":"85e3fe31.9939","name":"VInterno","storageNode":"ec0dc710.e38178","x":758,"y":268.5,"wires":[]},{"id":"ed468bd5.cf2ee8","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/VInterno","qos":"2","broker":"d1e3def2.190da","x":101.5,"y":341,"wires":[["9d12a7a9.105018"]]},{"id":"e2233517.d036f8","type":"inject","z":"753ca15b.d424b","name":"","topic":"Armario/VInterno","payload":"VInterno","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":103.5,"y":300,"wires":[["9d12a7a9.105018"]]},{"id":"46240189.105c7","type":"mqtt out","z":"753ca15b.d424b","name":"Ventilador Interno","topic":"Armario/Relay/2","qos":"","retain":"","broker":"d1e3def2.190da","x":645,"y":341,"wires":[]},{"id":"9d12a7a9.105018","type":"subflow:c112cc01.45f44","z":"753ca15b.d424b","name":"","x":463,"y":341,"wires":[["46240189.105c7"]]},{"id":"55ef8425.3d578c","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/VIntraExtra","qos":"2","broker":"d1e3def2.190da","x":109.75,"y":450.7500057220459,"wires":[["ea0ad3b.b7fec3"]]},{"id":"c62c2f73.78e42","type":"inject","z":"753ca15b.d424b","name":"","topic":"Armario/VIntraExtra","payload":"VIntraExtra","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":111.75,"y":409.7500057220459,"wires":[["ea0ad3b.b7fec3"]]},{"id":"ea0ad3b.b7fec3","type":"subflow:c112cc01.45f44","z":"753ca15b.d424b","name":"","x":461.25,"y":450.7500057220459,"wires":[["67325569.9664bc"]]},{"id":"e6bd2822.ed55c8","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"Temperatura","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1566.0000267028809,"y":162.00000667572021,"wires":[[]]},{"id":"6210781a.0e4e38","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"Humedad","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1557.5000267028809,"y":298.0000047683716,"wires":[[]]},{"id":"d387169b.be14a8","type":"ui_numeric","z":"85e3fe31.9939","name":"","label":"Humedad Suelo","tooltip":"","group":"9e8b98be.eaf5f8","order":1,"width":0,"height":0,"passthru":true,"topic":"Armario/Humedad/Target","format":"{{value}}","min":"20","max":"99","step":1,"x":1339,"y":415,"wires":[["38e03a49.278a76","d897bcd0.ff92f","66befb34.cb4674"]]},{"id":"d897bcd0.ff92f","type":"persist in","z":"85e3fe31.9939","name":"HumedadSueloEmu","storageNode":"ec0dc710.e38178","x":1564.5,"y":424,"wires":[]},{"id":"c447bd9e.e9dd1","type":"persist out","z":"85e3fe31.9939","name":"HumedadSueloEmu","storageNode":"ec0dc710.e38178","x":1125.5,"y":415,"wires":[["d387169b.be14a8"]]},{"id":"38e03a49.278a76","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/HumedadSuelo","qos":"","retain":"","broker":"d1e3def2.190da","x":1575,"y":374,"wires":[]},{"id":"66befb34.cb4674","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"HumedadSuelo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1571,"y":465,"wires":[[]]},{"id":"fc1e390c.b67858","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Armario/HumedadSuelo","qos":"2","broker":"d1e3def2.190da","x":148.42857360839844,"y":49.24995422363281,"wires":[["db474c0f.ab836"]]},{"id":"db474c0f.ab836","type":"change","z":"f4912fa1.79cf9","name":"","rules":[{"t":"set","p":"HumedadSuelo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":392.1428527832031,"y":49.53565979003906,"wires":[[]]},{"id":"75332c8e.00ce94","type":"ui_dropdown","z":"85e3fe31.9939","name":"","label":"V Sodio","tooltip":"","place":"Select option","group":"cca2f564.2643f8","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"On","value":"On","type":"str"},{"label":"Off","value":"Off","type":"str"},{"label":"1 Minuto Cada 5 ","value":"1m5m","type":"str"},{"label":"30 Minutos al Dia","value":"30m24h","type":"str"},{"label":"Fotoperiodo","value":"Fotoperiodo","type":"str"},{"label":"Temperatura Alta","value":"TemperaturaAlta","type":"str"},{"label":"Humedad Alta","value":"HumedadAlta","type":"str"}],"payload":"","topic":"","x":305.25,"y":473.499981880188,"wires":[["8d09d91c.226148"]]},{"id":"8d09d91c.226148","type":"change","z":"85e3fe31.9939","name":"","rules":[{"t":"set","p":"VSodio","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":511.75,"y":476.499981880188,"wires":[["6f2a9ae6.d8ad74","1cc9adca.c97f12"]]},{"id":"1cc9adca.c97f12","type":"mqtt out","z":"85e3fe31.9939","name":"","topic":"Armario/VSodio","qos":"","retain":"","broker":"d1e3def2.190da","x":752.75,"y":464.499981880188,"wires":[]},{"id":"c0d523.01114ae","type":"persist out","z":"85e3fe31.9939","name":"VSodio","storageNode":"ec0dc710.e38178","x":136.25,"y":473.499981880188,"wires":[["75332c8e.00ce94"]]},{"id":"6f2a9ae6.d8ad74","type":"persist in","z":"85e3fe31.9939","name":"VSodio","storageNode":"ec0dc710.e38178","x":738.25,"y":512.499981880188,"wires":[]},{"id":"f3b92b50.08de28","type":"mqtt out","z":"753ca15b.d424b","name":"Ventilador Sodio ","topic":"Armario/Relay/2","qos":"","retain":"","broker":"d1e3def2.190da","x":632,"y":568.7500076293945,"wires":[]},{"id":"94f0590c.eedec8","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/VSodio","qos":"2","broker":"d1e3def2.190da","x":99,"y":568.7500076293945,"wires":[["596d5934.90fea8"]]},{"id":"54685666.edc6e8","type":"inject","z":"753ca15b.d424b","name":"","topic":"Armario/VSodio","payload":"VSodio","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":101,"y":527.7500076293945,"wires":[["596d5934.90fea8"]]},{"id":"596d5934.90fea8","type":"subflow:c112cc01.45f44","z":"753ca15b.d424b","name":"","x":459.5,"y":568.7500076293945,"wires":[["f3b92b50.08de28"]]},{"id":"c0b95c3d.705b6","type":"switch","z":"dfa8e8c8.725d38","name":"Fotoperiodo","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"VegetativoIntensivo","vt":"str"},{"t":"eq","v":"Vegetativo","vt":"str"},{"t":"eq","v":"Floracion","vt":"str"},{"t":"eq","v":"FinalFloracion","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Off","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":544.7500076293945,"y":315.25000381469727,"wires":[["23fb1c68.f84854"],["83212974.90fff8"],["ac7de8b4.582c28"],["c11f9161.da71"],["a804b4c3.f250f8"],["2b3b7f3d.bdd58"],["2b3b7f3d.bdd58"]]},{"id":"d13065a1.d99bb8","type":"bigtimer","z":"dfa8e8c8.725d38","outtopic":"","outpayload1":"","outpayload2":"","name":"Floracion","comment":"","lat":"-34.67865","lon":"-58.38982","starttime":"900","endtime":"180","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":945.7500076293945,"y":356.50000762939453,"wires":[[],[],[]]},{"id":"755eefd0.c0be","type":"bigtimer","z":"dfa8e8c8.725d38","outtopic":"","outpayload1":"","outpayload2":"","name":"Vegetativo","comment":"","lat":"-34.67865","lon":"-58.38982","starttime":"540","endtime":"180","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":958.7500076293945,"y":242.00000762939453,"wires":[[],[],[]]},{"id":"83212974.90fff8","type":"change","z":"dfa8e8c8.725d38","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790.7500076293945,"y":242.00000762939453,"wires":[["755eefd0.c0be"]]},{"id":"ac7de8b4.582c28","type":"change","z":"dfa8e8c8.725d38","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":785.7500076293945,"y":356.00000762939453,"wires":[["d13065a1.d99bb8"]]},{"id":"e624ff93.0a2ea","type":"change","z":"dfa8e8c8.725d38","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599.7500076293945,"y":101.25000953674316,"wires":[["755eefd0.c0be","d13065a1.d99bb8","adb8ebe3.f61628","52297db9.8370b4"]]},{"id":"ba4ddde0.6f91c","type":"delay","z":"dfa8e8c8.725d38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":386.75000762939453,"y":318.0000343322754,"wires":[["c0b95c3d.705b6"]]},{"id":"adb8ebe3.f61628","type":"bigtimer","z":"dfa8e8c8.725d38","outtopic":"","outpayload1":"","outpayload2":"","name":"Vegetativo Intensivo","comment":"","lat":"-34.67865","lon":"-58.38982","starttime":"540","endtime":"420","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":990.7500076293945,"y":143.00000762939453,"wires":[[],[],[]]},{"id":"23fb1c68.f84854","type":"change","z":"dfa8e8c8.725d38","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":789.7500076293945,"y":142.00000762939453,"wires":[["adb8ebe3.f61628"]]},{"id":"52297db9.8370b4","type":"bigtimer","z":"dfa8e8c8.725d38","outtopic":"","outpayload1":"","outpayload2":"","name":"Final Floracion","comment":"","lat":"-34.67865","lon":"-58.38982","starttime":"900","endtime":"135","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"0","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":972.7500076293945,"y":450.00000762939453,"wires":[[],[],[]]},{"id":"c11f9161.da71","type":"change","z":"dfa8e8c8.725d38","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792.7500076293945,"y":449.50000762939453,"wires":[["52297db9.8370b4"]]},{"id":"f88e985e.b09f88","type":"function","z":"d67bf55a.451c08","name":"payload Trigger","func":"var t = 0;\nif (msg.reset != 0)\n{\n    clearTimeout(t);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    //msg.payload = \"0\"\n    //node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});\n    msg.payload = \"1\"\n    node.send(msg)\n\nt = setTimeout(function()\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}   , number); // sets timeout\n\n\nreturn null;\n\n}\n\n","outputs":1,"noerr":0,"x":580,"y":497.107177734375,"wires":[[]],"icon":"node-red/trigger.png"},{"id":"b8087a61.279388","type":"function","z":"d67bf55a.451c08","name":"payload Trigger","func":"var t = 0;\nif (msg.reset != 0)\n{\n    clearTimeout(t);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    //msg.payload = \"0\"\n    //node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});\n    msg.payload = \"1\"\n    node.send(msg)\n\nt = setTimeout(function()\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}   , number); // sets timeout\n\n\nreturn null;\n\n}\n\n","outputs":1,"noerr":0,"x":583.4285659790039,"y":558.5357313156128,"wires":[[]],"icon":"node-red/trigger.png"},{"id":"b9e650e5.dbd3f","type":"ui_gauge","z":"d3f8e303.d1678","name":"","group":"32a4c0c.e40304","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#8080ff","#80ff00","#ca3838"],"seg1":"18","seg2":"26","x":701.25,"y":48.75,"wires":[]},{"id":"26b76c84.9b3574","type":"ui_chart","z":"d3f8e303.d1678","name":"","group":"32a4c0c.e40304","order":2,"width":"0","height":"0","label":"History","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":696.25,"y":139.75,"wires":[[],[]]},{"id":"f69704d3.965718","type":"ui_gauge","z":"d3f8e303.d1678","name":"","group":"2c4a4dba.769ce2","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad","label":"%","format":"{{value}}","min":"20","max":"99","colors":["#ff0000","#ffff00","#6000bf"],"seg1":"40","seg2":"60","x":691.25,"y":246.75,"wires":[]},{"id":"ade97efb.e5138","type":"ui_chart","z":"d3f8e303.d1678","name":"","group":"2c4a4dba.769ce2","order":2,"width":0,"height":0,"label":"History","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"20","ymax":"99","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":689.25,"y":336.75,"wires":[[],[]]},{"id":"2a499ee3.454912","type":"inject","z":"d3f8e303.d1678","name":"","topic":"Value","payload":"Temperatura","payloadType":"global","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":119.75,"y":120.75,"wires":[["26b76c84.9b3574","b9e650e5.dbd3f"]]},{"id":"3e91709.8f8079","type":"mqtt in","z":"d3f8e303.d1678","name":"","topic":"Armario/Temperatura","qos":"2","broker":"d1e3def2.190da","x":118.5,"y":46.75000190734863,"wires":[["b9e650e5.dbd3f"]]},{"id":"47cf0cdd.9754b4","type":"inject","z":"d3f8e303.d1678","name":"","topic":"Value","payload":"Humedad","payloadType":"global","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":112.25,"y":295.75,"wires":[["ade97efb.e5138","f69704d3.965718"]]},{"id":"204b48c9.ba96e8","type":"mqtt in","z":"d3f8e303.d1678","name":"","topic":"Armario/Humedad","qos":"2","broker":"d1e3def2.190da","x":111.25,"y":240.75,"wires":[["f69704d3.965718"]]},{"id":"bdf749b5.288588","type":"ui_gauge","z":"d3f8e303.d1678","name":"","group":"27870a16.10a9f6","order":1,"width":0,"height":0,"gtype":"gage","title":"Humedad Suelo","label":"%","format":"{{value}}","min":"0","max":"99","colors":["#ff0000","#ffff00","#6000bf"],"seg1":"40","seg2":"60","x":714.25,"y":422.75,"wires":[]},{"id":"d6c98a97.14c0a8","type":"ui_chart","z":"d3f8e303.d1678","name":"","group":"27870a16.10a9f6","order":2,"width":0,"height":0,"label":"History","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"99","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":692.25,"y":512.75,"wires":[[],[]]},{"id":"260bde9b.444442","type":"inject","z":"d3f8e303.d1678","name":"","topic":"Value","payload":"HumedadSuelo","payloadType":"global","repeat":"1800","crontab":"","once":true,"onceDelay":0.1,"x":135.25,"y":471.75,"wires":[["d6c98a97.14c0a8","bdf749b5.288588"]]},{"id":"2d5c23bc.0ec38c","type":"mqtt in","z":"d3f8e303.d1678","name":"","topic":"Armario/HumedadSuelo","qos":"2","broker":"d1e3def2.190da","x":134.25,"y":416.75,"wires":[["bdf749b5.288588"]]},{"id":"a979bb44.b30dc8","type":"inject","z":"d3f8e303.d1678","name":"","topic":"Target","payload":"TemperaturaTarget","payloadType":"global","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":136.25,"y":174.75,"wires":[["26b76c84.9b3574"]]},{"id":"9c805517.2b80c8","type":"inject","z":"d3f8e303.d1678","name":"","topic":"Target","payload":"HumedadTarget","payloadType":"global","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":126.25,"y":348.75,"wires":[["ade97efb.e5138"]]},{"id":"1fba5abf.2e2df5","type":"inject","z":"d3f8e303.d1678","name":"","topic":"Trigger","payload":"HumedadSueloTrigger","payloadType":"global","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":149.25,"y":537.75,"wires":[["d6c98a97.14c0a8"]]},{"id":"7fb061c4.6a9e5","type":"switch","z":"d67bf55a.451c08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":115.5,"y":293,"wires":[["26aaaf49.5602a","1365c211.2d9d2e","bf24bc57.04eb3","e663828e.2636d","ff5f07ef.11e178"],["9ca509ff.d36918","e663828e.2636d"]]},{"id":"9ca509ff.d36918","type":"change","z":"d67bf55a.451c08","name":"stop All","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":403.285701751709,"y":298.1428470611572,"wires":[["6c314fa.e6d4ab","1346ca68.faa806"]]},{"id":"97b431f9.3895f","type":"switch","z":"d67bf55a.451c08","name":"Fin Riego","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":882.7142677307129,"y":402.00001335144043,"wires":[["7fb061c4.6a9e5"]]},{"id":"e980a6f9.bed868","type":"subflow:d67bf55a.451c08","z":"f4912fa1.79cf9","name":"","x":398.6785888671875,"y":522.142822265625,"wires":[["7d655f45.7f0fb"],["1147a485.90837b"],["ce5caec6.19d69","9d4bc66b.0c0c98"],["31e3277a.aec768"],["99fc1924.5a1ba8"],[]]},{"id":"99fc1924.5a1ba8","type":"mqtt out","z":"f4912fa1.79cf9","name":"Fertilizante 2","topic":"Armario/Relay/11","qos":"","retain":"","broker":"d1e3def2.190da","x":677.4285507202148,"y":688.7142353057861,"wires":[]},{"id":"31e3277a.aec768","type":"mqtt out","z":"f4912fa1.79cf9","name":"Fertilizante 1","topic":"Armario/Relay/10","qos":"","retain":"","broker":"d1e3def2.190da","x":678.9999961853027,"y":640.2856407165527,"wires":[]},{"id":"9d4bc66b.0c0c98","type":"mqtt out","z":"f4912fa1.79cf9","name":"Calentador agua","topic":"Armario/Relay/8","qos":"","retain":"","broker":"d1e3def2.190da","x":694.4285659790039,"y":590.2856616973877,"wires":[]},{"id":"ce5caec6.19d69","type":"mqtt out","z":"f4912fa1.79cf9","name":"Aireador","topic":"Armario/Relay/3","qos":"","retain":"","broker":"d1e3def2.190da","x":663.2857704162598,"y":538.4285068511963,"wires":[]},{"id":"1147a485.90837b","type":"mqtt out","z":"f4912fa1.79cf9","name":"Bomba Riego","topic":"Armario/Relay/6","qos":"","retain":"","broker":"d1e3def2.190da","x":683.2858257293701,"y":491.14281845092773,"wires":[]},{"id":"7d655f45.7f0fb","type":"mqtt out","z":"f4912fa1.79cf9","name":"Bomba Elevadora","topic":"Armario/Relay/4","qos":"","retain":"","broker":"d1e3def2.190da","x":695.5715408325195,"y":442.71425437927246,"wires":[]},{"id":"e663828e.2636d","type":"change","z":"d67bf55a.451c08","name":"","rules":[{"t":"set","p":"Regando","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410.5,"y":199,"wires":[["4224b0ca.a5dc"]]},{"id":"4224b0ca.a5dc","type":"mqtt out","z":"d67bf55a.451c08","name":"","topic":"Armario/Regando","qos":"","retain":"","broker":"d1e3def2.190da","x":414.5,"y":251,"wires":[]},{"id":"be7c5ca0.c96ec","type":"ui_numeric","z":"bb29a94b.bb3258","name":"","label":"Agua Ml","tooltip":"","group":"f7f6acc3.19498","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"3000","step":"100","x":371.4285888671875,"y":656.89279961586,"wires":[["1b7b1c2b.9008a4"]]},{"id":"ffbdfbf5.9f9b08","type":"ui_numeric","z":"bb29a94b.bb3258","name":"","label":"Fertilizante 1 Ml","tooltip":"","group":"f7f6acc3.19498","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":"10","x":365.4285888671875,"y":706.89279961586,"wires":[["8ead130d.24329"]]},{"id":"f749836d.18c04","type":"ui_numeric","z":"bb29a94b.bb3258","name":"","label":"Fertilizante 2 Ml","tooltip":"","group":"f7f6acc3.19498","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":"10","x":368.4285888671875,"y":771.89279961586,"wires":[["8083c9f3.4e46b8"]]},{"id":"8ead130d.24329","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"Fertilizante1Ml","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":587.4285888671875,"y":706.89279961586,"wires":[["ca81e52f.7e7e88"]]},{"id":"8083c9f3.4e46b8","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"Fertilizante2Ml","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590.4285888671875,"y":768.89279961586,"wires":[["434c759f.e3b62c"]]},{"id":"1b7b1c2b.9008a4","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"AguaMl","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":557.4285888671875,"y":652.89279961586,"wires":[["465e57bc.0740d8"]]},{"id":"465e57bc.0740d8","type":"persist in","z":"bb29a94b.bb3258","name":"AguaMl","storageNode":"ec0dc710.e38178","x":736.4285888671875,"y":654.89279961586,"wires":[]},{"id":"ca81e52f.7e7e88","type":"persist in","z":"bb29a94b.bb3258","name":"Fertilizante1Ml","storageNode":"ec0dc710.e38178","x":793.4285888671875,"y":707.89279961586,"wires":[]},{"id":"434c759f.e3b62c","type":"persist in","z":"bb29a94b.bb3258","name":"Fertilizante2Ml","storageNode":"ec0dc710.e38178","x":810.4285888671875,"y":767.89279961586,"wires":[]},{"id":"8c0a4a0c.033248","type":"persist out","z":"bb29a94b.bb3258","name":"AguaMl","storageNode":"ec0dc710.e38178","x":170.4285888671875,"y":657.89279961586,"wires":[["be7c5ca0.c96ec"]]},{"id":"78b9cb70.866d24","type":"persist out","z":"bb29a94b.bb3258","name":"Fertilizante1Ml","storageNode":"ec0dc710.e38178","x":187.4285888671875,"y":708.89279961586,"wires":[["ffbdfbf5.9f9b08"]]},{"id":"3cb20790.c74758","type":"persist out","z":"bb29a94b.bb3258","name":"Fertilizante2Ml","storageNode":"ec0dc710.e38178","x":190.4285888671875,"y":771.89279961586,"wires":[["f749836d.18c04"]]},{"id":"7103c87.3094a38","type":"ui_numeric","z":"bb29a94b.bb3258","name":"","label":"Humedad Riego","tooltip":"","group":"f7f6acc3.19498","order":6,"width":0,"height":0,"passthru":true,"topic":"Armario/Humedad/Target","format":"{{value}}","min":"0","max":"100","step":"10","x":447.9285888671875,"y":598.39279961586,"wires":[["2c8ebe2f.2ca312"]]},{"id":"2c8ebe2f.2ca312","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"HumedadSueloTrigger","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.9285888671875,"y":598.39279961586,"wires":[["b27c9134.11902"]]},{"id":"b27c9134.11902","type":"persist in","z":"bb29a94b.bb3258","name":"HumedadSueloTrigger","storageNode":"ec0dc710.e38178","x":969.4285888671875,"y":598.39279961586,"wires":[]},{"id":"f42cfed5.c9103","type":"persist out","z":"bb29a94b.bb3258","name":"HumedadSueloTrigger","storageNode":"ec0dc710.e38178","x":203.4285888671875,"y":596.3928129673004,"wires":[["7103c87.3094a38"]]},{"id":"d909b73e.daedd8","type":"ui_button","z":"bb29a94b.bb3258","name":"","group":"f7f6acc3.19498","order":7,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"fa-tint","payload":"1","payloadType":"str","topic":"Armario/Regar","x":903.4285278320312,"y":95.71432328224182,"wires":[["85b50717.b03878"]]},{"id":"ad6b9f00.f014f","type":"ui_dropdown","z":"bb29a94b.bb3258","name":"","label":"Riego","tooltip":"","place":"Select option","group":"f7f6acc3.19498","order":5,"width":0,"height":0,"passthru":true,"options":[{"label":"Manual","value":"Manual","type":"str"},{"label":"Auto","value":"Auto","type":"str"}],"payload":"","topic":"","x":212.64287567138672,"y":348.5714294910431,"wires":[["5d7aee52.13b6c"]]},{"id":"d8a9d359.bed92","type":"persist in","z":"bb29a94b.bb3258","name":"Riego","storageNode":"ec0dc710.e38178","x":559.1428070068359,"y":314.2857201099396,"wires":[]},{"id":"5d7aee52.13b6c","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"Riego","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.6428756713867,"y":348.5714294910431,"wires":[["d8a9d359.bed92","781f215e.c0a64","64a31f5b.68104","75e3974b.83e588"]]},{"id":"8a79c61f.cafa08","type":"persist out","z":"bb29a94b.bb3258","name":"Riego","storageNode":"ec0dc710.e38178","x":82.14287567138672,"y":348.5714294910431,"wires":[["ad6b9f00.f014f"]]},{"id":"781f215e.c0a64","type":"switch","z":"bb29a94b.bb3258","name":"Riego","property":"Riego","propertyType":"global","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"Manual","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":431.64288330078125,"y":108.71428894996643,"wires":[["f8067a14.c9c278"],["f6298cec.6b059"]]},{"id":"f8067a14.c9c278","type":"change","z":"bb29a94b.bb3258","name":"Disabled Auto","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":513.0714569091797,"y":54.142853021621704,"wires":[["1b37249.b7804db"]]},{"id":"f6298cec.6b059","type":"change","z":"bb29a94b.bb3258","name":"Enabled Manual","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":501.85713958740234,"y":154.99999833106995,"wires":[["1b37249.b7804db"]]},{"id":"85b50717.b03878","type":"switch","z":"bb29a94b.bb3258","name":"Regando?","property":"Regando","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1041.9286499023438,"y":95.7142927646637,"wires":[["2c3776c0.2b51da"],["b80a144.f9879e8"]]},{"id":"2c3776c0.2b51da","type":"change","z":"bb29a94b.bb3258","name":"Regar","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1096.9286499023438,"y":36.714292764663696,"wires":[["2e6f5814.82c908"]]},{"id":"b80a144.f9879e8","type":"change","z":"bb29a94b.bb3258","name":"Detener","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1099.4286499023438,"y":152.7142927646637,"wires":[["2e6f5814.82c908"]]},{"id":"2e6f5814.82c908","type":"mqtt out","z":"bb29a94b.bb3258","name":"","topic":"Armario/Regar","qos":"","retain":"","broker":"d1e3def2.190da","x":1278.5001640319824,"y":95.57140803337097,"wires":[]},{"id":"1b37249.b7804db","type":"switch","z":"bb29a94b.bb3258","name":"Regando?","property":"Regando","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":688.5714073181152,"y":99.14287400245667,"wires":[["97ea7b70.d4a308"],["9b655e1a.dcd2f"]]},{"id":"97ea7b70.d4a308","type":"change","z":"bb29a94b.bb3258","name":"Regar","rules":[{"t":"set","p":"label","pt":"msg","to":"Regar","tot":"str"},{"t":"set","p":"background","pt":"msg","to":"default","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":718.5714721679688,"y":49.42861771583557,"wires":[["d909b73e.daedd8"]]},{"id":"9b655e1a.dcd2f","type":"change","z":"bb29a94b.bb3258","name":"Detener Enabled","rules":[{"t":"set","p":"label","pt":"msg","to":"Detener","tot":"str"},{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"background","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":755.6428833007812,"y":160.00004410743713,"wires":[["d909b73e.daedd8"]]},{"id":"420914a6.8cee3c","type":"mqtt in","z":"bb29a94b.bb3258","name":"","topic":"Armario/Regando","qos":"2","broker":"d1e3def2.190da","x":87.85714721679688,"y":110.00005459785461,"wires":[["781f215e.c0a64"]]},{"id":"757aa51e.00b63c","type":"inject","z":"bb29a94b.bb3258","name":"Regar","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":85.00000762939453,"y":205.7143099308014,"wires":[["6ca588cc.0aa598"]]},{"id":"6ca588cc.0aa598","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"Regando","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":259.99999237060547,"y":207.1428415775299,"wires":[["781f215e.c0a64"]]},{"id":"175ff5a.d89f40a","type":"bigtimer","z":"f4912fa1.79cf9","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"-27.44951","lon":"-48.53181","starttime":"1380","endtime":"10001","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"offs":0,"outtext1":"1","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":574.142822265625,"y":277.7142333984375,"wires":[["9d1f57e5.cab1e8"],[],[]]},{"id":"84152616.5672e8","type":"inject","z":"f4912fa1.79cf9","name":"","topic":"","payload":"Riego","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":122.42858123779297,"y":319.1428527832031,"wires":[["f9f6a980.bb1b58"]]},{"id":"f9f6a980.bb1b58","type":"switch","z":"f4912fa1.79cf9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"Manual","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":278.8571014404297,"y":284.7141647338867,"wires":[["da51e285.9532"],["56863978.bc1bf8"]]},{"id":"da51e285.9532","type":"change","z":"f4912fa1.79cf9","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":412.71429443359375,"y":249.85707092285156,"wires":[["175ff5a.d89f40a"]]},{"id":"56863978.bc1bf8","type":"change","z":"f4912fa1.79cf9","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":413.92859268188477,"y":307.71424102783203,"wires":[["175ff5a.d89f40a"]]},{"id":"71a9922f.99288c","type":"switch","z":"f4912fa1.79cf9","name":"Humedad Suelo Baja","property":"HumedadSuelo","propertyType":"global","rules":[{"t":"lte","v":"HumedadSueloTrigger","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":220.00003051757812,"y":414.4286804199219,"wires":[["e980a6f9.bed868"]]},{"id":"dc3e3e08.ba6c8","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Armario/Riego","qos":"2","broker":"d1e3def2.190da","x":114.85713958740234,"y":257.99998474121094,"wires":[["f9f6a980.bb1b58"]]},{"id":"e40c283c.f5f168","type":"change","z":"bb29a94b.bb3258","name":"Enabled Auto","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690.7143249511719,"y":456.9999907016754,"wires":[["7103c87.3094a38"]]},{"id":"1994baf.0e03b45","type":"switch","z":"bb29a94b.bb3258","name":"Riego","property":"Riego","propertyType":"global","rules":[{"t":"eq","v":"Auto","vt":"str"},{"t":"eq","v":"Manual","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":506.28575134277344,"y":474.57142663002014,"wires":[["e40c283c.f5f168"],["d2a3de6e.9afa8"]]},{"id":"d2a3de6e.9afa8","type":"change","z":"bb29a94b.bb3258","name":"Disabled Manual","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.5,"y":496.8571379184723,"wires":[["7103c87.3094a38"]]},{"id":"e95aeea8.ad884","type":"inject","z":"bb29a94b.bb3258","name":"","topic":"","payload":"HumedadSueloTrigger","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":149.50001525878906,"y":524.9999582767487,"wires":[["64a31f5b.68104"]]},{"id":"64a31f5b.68104","type":"change","z":"bb29a94b.bb3258","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"HumedadSueloTrigger","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":356.21429443359375,"y":475.9999907016754,"wires":[["1994baf.0e03b45"]]},{"id":"75e3974b.83e588","type":"mqtt out","z":"bb29a94b.bb3258","name":"","topic":"Armario/Riego","qos":"","retain":"","broker":"d1e3def2.190da","x":585.7142715454102,"y":370.0000069141388,"wires":[]},{"id":"a804b4c3.f250f8","type":"change","z":"dfa8e8c8.725d38","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790.5,"y":557.0000019073486,"wires":[[]]},{"id":"2b3b7f3d.bdd58","type":"change","z":"dfa8e8c8.725d38","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800.5,"y":639.0000019073486,"wires":[[]]},{"id":"9d1f57e5.cab1e8","type":"switch","z":"f4912fa1.79cf9","name":"Es Hora","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":718.5,"y":260,"wires":[["71a9922f.99288c"]]},{"id":"ff5f07ef.11e178","type":"change","z":"d67bf55a.451c08","name":"Fertilizante3Ml","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($globalContext(\"Fertilizante3Ml\"))*$number($globalContext(\"PertistalticMlRatio\"))","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":394,"y":619.0000267028809,"wires":[["451374b8.9f848c"]]},{"id":"451374b8.9f848c","type":"function","z":"d67bf55a.451c08","name":"payload Trigger","func":"var t = 0;\nif (msg.reset != 0)\n{\n    clearTimeout(t);\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    //msg.payload = \"0\"\n    //node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});\n    msg.payload = \"1\"\n    node.send(msg)\n\nt = setTimeout(function()\n{\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}   , number); // sets timeout\n\n\nreturn null;\n\n}\n\n","outputs":1,"noerr":0,"x":584.5000076293945,"y":618.7500257492065,"wires":[[]],"icon":"node-red/trigger.png"},{"id":"bc665e0.6ec3aa","type":"switch","z":"c112cc01.45f44","name":"Pause","property":"pause","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90.5,"y":292,"wires":[["6a4825cb.d36b5c","9fac106.afc99f"],["2ed12fdd.a3fd6"]]},{"id":"2ed12fdd.a3fd6","type":"change","z":"c112cc01.45f44","name":"Restaurar","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastPayload","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":228.5,"y":348,"wires":[["f841d161.4bedd"]]},{"id":"ee5a3fe5.b3bb2","type":"change","z":"753ca15b.d424b","name":"Pause","rules":[{"t":"set","p":"pause","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":317.5,"y":209,"wires":[["9d12a7a9.105018","ea0ad3b.b7fec3","596d5934.90fea8"]]},{"id":"bc2fa409.754cf8","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/Timelapse","qos":"2","broker":"d1e3def2.190da","x":119.5,"y":183,"wires":[["ee5a3fe5.b3bb2"]]},{"id":"d7c9c974.3e00b8","type":"switch","z":"c112cc01.45f44","name":"Is Not Pause","property":"pause","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":107,"y":83,"wires":[["6a4825cb.d36b5c","7930d1b9.600b3"]]},{"id":"7930d1b9.600b3","type":"change","z":"c112cc01.45f44","name":"Salvar","rules":[{"t":"set","p":"lastPayload","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":142,"y":138,"wires":[["52648542.6044fc"]]},{"id":"6a44638e.bdcccc","type":"subflow:dfa8e8c8.725d38","z":"753ca15b.d424b","name":"Fotoperiodo","x":470.5000305175781,"y":838.25,"wires":[["fc984a02.784568"]]},{"id":"2cb8826a.aa929e","type":"switch","z":"dfa8e8c8.725d38","name":"stop/auto","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"auto","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":114,"y":120.25000190734863,"wires":[["cb6dbe95.05029"],["47424b1e.2bb5e4"],["e624ff93.0a2ea","ba4ddde0.6f91c"]]},{"id":"fc984a02.784568","type":"mqtt out","z":"753ca15b.d424b","name":"Luz","topic":"Armario/Relay/6","qos":"","retain":"","broker":"d1e3def2.190da","x":618.7500076293945,"y":838.5,"wires":[]},{"id":"859d824d.c4b16","type":"subflow:dfa8e8c8.725d38","z":"c112cc01.45f44","name":"","x":756.8750076293945,"y":373.7500047683716,"wires":[[]]},{"id":"f203c70e.7cb298","type":"inject","z":"753ca15b.d424b","name":"","topic":"Armario/Fotoperiodo","payload":"Fotoperiodo","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130.99999237060547,"y":778.7500123977661,"wires":[["6a44638e.bdcccc"]]},{"id":"ed013e0a.3a61a","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/Fotoperiodo","qos":"2","broker":"d1e3def2.190da","x":129.74999237060547,"y":822.7500009536743,"wires":[["6a44638e.bdcccc"]]},{"id":"47424b1e.2bb5e4","type":"change","z":"dfa8e8c8.725d38","name":"Make Auto","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fotoperiodo","tot":"global"},{"t":"set","p":"IsStop","pt":"flow","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":344.00000762939453,"y":156.2500171661377,"wires":[["ba4ddde0.6f91c","e624ff93.0a2ea"]]},{"id":"cf68c54b.34b898","type":"change","z":"c112cc01.45f44","name":"Auto","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":611.2500076293945,"y":370.0000047683716,"wires":[["859d824d.c4b16"]]},{"id":"cb6dbe95.05029","type":"change","z":"dfa8e8c8.725d38","name":"IsStop","rules":[{"t":"set","p":"IsStop","pt":"flow","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":365.62500381469727,"y":72.50000953674316,"wires":[["e624ff93.0a2ea"]]},{"id":"d61b6c4f.e1abd","type":"switch","z":"dfa8e8c8.725d38","name":"Is Auto in Mode","property":"IsStop","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":125.625,"y":268.75000381469727,"wires":[["2cb8826a.aa929e"]]},{"id":"858879c9.edeee8","type":"mqtt in","z":"dfa8e8c8.725d38","name":"","topic":"Armario/Fotoperiodo","qos":"2","broker":"d1e3def2.190da","x":118.75,"y":348.7500057220459,"wires":[["d61b6c4f.e1abd"]]},{"id":"778f7f45.55bc5","type":"ui_template","z":"9401cbe4.25aef8","group":"a6744f31.7903c","name":"Fertilizante 1","order":3,"width":0,"height":0,"format":"\n<div class=\"momentary\">\n   <md-button>Fertilizante 1</md-button>\n</div>\n\n\n<script>\n\n(function($scope) {\n    \n$('.momentary').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentary').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":637.6250076293945,"y":624.7500038146973,"wires":[["2e723010.68c33"]],"icon":"node-red-dashboard/ui_button.png"},{"id":"2e723010.68c33","type":"mqtt out","z":"9401cbe4.25aef8","name":"","topic":"Pulse/Fertilizante1","qos":"","retain":"","broker":"d1e3def2.190da","x":835.1250076293945,"y":624.7500038146973,"wires":[]},{"id":"97fa0b01.eed2b8","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Pulse/Fertilizante1","qos":"2","broker":"d1e3def2.190da","x":220.125,"y":728.7500085830688,"wires":[["31e3277a.aec768"]]},{"id":"cb67ba82.7471e8","type":"ui_template","z":"9401cbe4.25aef8","group":"a6744f31.7903c","name":"Fertilizante 2","order":4,"width":0,"height":0,"format":"\n<div class=\"momentary\">\n   <md-button>Fertilizante 2</md-button>\n</div>\n\n\n<script>\n\n(function($scope) {\n    \n$('.momentary').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentary').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":638,"y":677,"wires":[["6e67e8d6.6a8b28"]],"icon":"node-red-dashboard/ui_button.png"},{"id":"6e67e8d6.6a8b28","type":"mqtt out","z":"9401cbe4.25aef8","name":"","topic":"Pulse/Fertilizante2","qos":"","retain":"","broker":"d1e3def2.190da","x":835.5,"y":677,"wires":[]},{"id":"bdff670a.c58a68","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Pulse/Fertilizante2","qos":"2","broker":"d1e3def2.190da","x":220,"y":780,"wires":[["99fc1924.5a1ba8"]]},{"id":"7c20ae19.7edef","type":"ui_template","z":"9401cbe4.25aef8","group":"a6744f31.7903c","name":"Agua","order":1,"width":0,"height":0,"format":"\n<div class=\"momentary\">\n   <md-button>Agua</md-button>\n</div>\n\n\n<script>\n\n(function($scope) {\n    \n$('.momentary').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentary').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":619.0000076293945,"y":524.0000038146973,"wires":[["80d24cc4.5aac5"]],"icon":"node-red-dashboard/ui_button.png"},{"id":"80d24cc4.5aac5","type":"mqtt out","z":"9401cbe4.25aef8","name":"","topic":"Pulse/Agua","qos":"","retain":"","broker":"d1e3def2.190da","x":816.5000076293945,"y":524.0000038146973,"wires":[]},{"id":"16295df9.318ba2","type":"ui_template","z":"9401cbe4.25aef8","group":"a6744f31.7903c","name":"Riego","order":2,"width":0,"height":0,"format":"\n<div class=\"momentary\">\n   <md-button>Riego</md-button>\n</div>\n\n\n<script>\n\n(function($scope) {\n    \n$('.momentary').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 1});\n});\n\n$('.momentary').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":618.0000076293945,"y":570.0000038146973,"wires":[["58fd3144.be4bf"]],"icon":"node-red-dashboard/ui_button.png"},{"id":"58fd3144.be4bf","type":"mqtt out","z":"9401cbe4.25aef8","name":"","topic":"Pulse/Agua","qos":"","retain":"","broker":"d1e3def2.190da","x":815.5000076293945,"y":570.0000038146973,"wires":[]},{"id":"2d7dc5fd.1b6e2a","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Pulse/Agua","qos":"2","broker":"d1e3def2.190da","x":200,"y":623,"wires":[["7d655f45.7f0fb"]]},{"id":"a2f6a633.866418","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Pulse/Riego","qos":"2","broker":"d1e3def2.190da","x":199.875,"y":674.2499914169312,"wires":[["1147a485.90837b"]]},{"id":"5852472a.f6cfe8","type":"ui_button","z":"9401cbe4.25aef8","name":"Modo Mantenimiento","group":"6a4b31ab.68f27","order":1,"width":0,"height":0,"passthru":false,"label":"{{msg.label}}","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":423.5,"y":154,"wires":[["16291f72.402b61"]]},{"id":"fea3832a.96b9c","type":"mqtt out","z":"9401cbe4.25aef8","name":"","topic":"Armario/Mantenimiento","qos":"","retain":"","broker":"d1e3def2.190da","x":837.5,"y":308,"wires":[]},{"id":"e6aba80d.97ce08","type":"trigger","z":"9401cbe4.25aef8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":726.5,"y":189,"wires":[["f2517ece.bd6d2"]]},{"id":"b5f1bab0.8b2a08","type":"switch","z":"9401cbe4.25aef8","name":"EnMantenimiento?","property":"EnMantenimiento","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":147.7142333984375,"y":232.42858123779297,"wires":[["2fdb00ff.0911d"],["e79078fb.8d8ed8"]]},{"id":"2fdb00ff.0911d","type":"change","z":"9401cbe4.25aef8","name":"Iniciar","rules":[{"t":"set","p":"label","pt":"msg","to":"Iniciar","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":213.71429824829102,"y":183.71432495117188,"wires":[["5852472a.f6cfe8"]]},{"id":"e79078fb.8d8ed8","type":"change","z":"9401cbe4.25aef8","name":"Detener","rules":[{"t":"set","p":"label","pt":"msg","to":"Detener","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":184.78570938110352,"y":287.28575134277344,"wires":[["5852472a.f6cfe8"]]},{"id":"f2517ece.bd6d2","type":"change","z":"9401cbe4.25aef8","name":"","rules":[{"t":"set","p":"EnMantenimiento","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":845.5,"y":248,"wires":[["fea3832a.96b9c"]]},{"id":"16291f72.402b61","type":"switch","z":"9401cbe4.25aef8","name":"EnMantenimiento?","property":"EnMantenimiento","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":452,"y":220,"wires":[["e6aba80d.97ce08"],["e9eb21c3.c0a3f"]]},{"id":"e9eb21c3.c0a3f","type":"change","z":"9401cbe4.25aef8","name":"Detener","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":561.5,"y":284,"wires":[["f2517ece.bd6d2","e6aba80d.97ce08"]]},{"id":"adf4dcff.679fa","type":"mqtt in","z":"9401cbe4.25aef8","name":"","topic":"Armario/Mantenimiento","qos":"2","broker":"d1e3def2.190da","x":119.5,"y":117,"wires":[["b5f1bab0.8b2a08","a9a47f70.5b805"]]},{"id":"e12847dc.6ca538","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/Mantenimiento","qos":"2","broker":"d1e3def2.190da","x":128,"y":239,"wires":[["ee5a3fe5.b3bb2"]]},{"id":"bb5d38d6.87d9e8","type":"inject","z":"9401cbe4.25aef8","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":86.5,"y":22,"wires":[["f749cc0f.313d4"]]},{"id":"f749cc0f.313d4","type":"change","z":"9401cbe4.25aef8","name":"","rules":[{"t":"set","p":"EnMantenimiento","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":79,"wires":[["b5f1bab0.8b2a08","a9a47f70.5b805"]]},{"id":"298ca1e5.988bfe","type":"ui_switch","z":"9401cbe4.25aef8","name":"","label":"Luz","tooltip":"","group":"6a4b31ab.68f27","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":435.50000381469727,"y":407.00000762939453,"wires":[["22b3ce7d.aa4982"]]},{"id":"984a40a4.208b2","type":"change","z":"9401cbe4.25aef8","name":"Disabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":252,"y":340,"wires":[["298ca1e5.988bfe"]]},{"id":"a9a47f70.5b805","type":"switch","z":"9401cbe4.25aef8","name":"EnMantenimiento?","property":"EnMantenimiento","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":194.99993896484375,"y":391.7142639160156,"wires":[["984a40a4.208b2"],["f46ad38b.157e3"]]},{"id":"f46ad38b.157e3","type":"change","z":"9401cbe4.25aef8","name":"Enabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":236.0714111328125,"y":445.5714416503906,"wires":[["298ca1e5.988bfe"]]},{"id":"20d6bf0f.68a62","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/LuzMantenimiento","qos":"2","broker":"d1e3def2.190da","x":436,"y":740,"wires":[["fc984a02.784568"]]},{"id":"cb3c7523.403248","type":"mqtt in","z":"753ca15b.d424b","name":"","topic":"Armario/Mantenimiento","qos":"2","broker":"d1e3def2.190da","x":119,"y":652,"wires":[["4e176aab.a29754"]]},{"id":"521cc9ef.d6c0f8","type":"change","z":"753ca15b.d424b","name":"Enviar Fotoperiodo","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fotoperiodo","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":130.5,"y":731,"wires":[["6a44638e.bdcccc"]]},{"id":"4e176aab.a29754","type":"switch","z":"753ca15b.d424b","name":"When Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":308,"y":653,"wires":[["521cc9ef.d6c0f8"]]},{"id":"22b3ce7d.aa4982","type":"mqtt out","z":"9401cbe4.25aef8","name":"","topic":"Armario/LuzMantenimiento","qos":"","retain":"","broker":"d1e3def2.190da","x":638.5,"y":407,"wires":[]},{"id":"b976f295.5b762","type":"mqtt in","z":"f4912fa1.79cf9","name":"","topic":"Armario/Mantenimiento","qos":"2","broker":"d1e3def2.190da","x":144,"y":133,"wires":[["e4a4e520.233bf8"]]},{"id":"e4a4e520.233bf8","type":"switch","z":"f4912fa1.79cf9","name":"On/Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":305,"y":133,"wires":[["56863978.bc1bf8"],["66ce7a76.d1b7a4"]]},{"id":"66ce7a76.d1b7a4","type":"change","z":"f4912fa1.79cf9","name":"Enviar Riego","rules":[{"t":"set","p":"payload","pt":"msg","to":"Riego","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":115.5,"y":203,"wires":[["f9f6a980.bb1b58"]]},{"id":"c2679164.6ac93","type":"ui_dropdown","z":"9401cbe4.25aef8","name":"Medida","label":"","tooltip":"Medida Calibracion","place":"","group":"3755d5b1.14941a","order":2,"width":"2","height":"1","passthru":true,"options":[{"label":"100Ml","value":100,"type":"num"},{"label":"1L","value":1000,"type":"num"}],"payload":"","topic":"","x":301.5,"y":563,"wires":[["639e61e3.865ba"]]},{"id":"254306a0.5cbe5a","type":"ui_button","z":"9401cbe4.25aef8","name":"","group":"3755d5b1.14941a","order":5,"width":"3","height":"1","passthru":false,"label":"Cancelar","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":134.5,"y":759,"wires":[["a4ec682a.d70348"]]},{"id":"5f8e28c0.147818","type":"ui_text","z":"9401cbe4.25aef8","group":"3755d5b1.14941a","order":1,"width":"5","height":"1","name":"Ratio","label":"{{msg.label}} Ratio","format":"{msg.payload}}","layout":"row-spread","x":128.5,"y":565,"wires":[]},{"id":"1525ceb.5e5da31","type":"ui_button","z":"9401cbe4.25aef8","name":"","group":"3755d5b1.14941a","order":4,"width":"2","height":"1","passthru":false,"label":"Listo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":124,"y":722,"wires":[["11d7dc13.0b80f4"]]},{"id":"b7f0dd42.2d30e","type":"ui_button","z":"9401cbe4.25aef8","name":"","group":"3755d5b1.14941a","order":3,"width":"2","height":"1","passthru":false,"label":"Iniciar","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":123,"y":628,"wires":[[]]},{"id":"cdb18a6d.afca58","type":"change","z":"9401cbe4.25aef8","name":"Ml","rules":[{"t":"set","p":"payload","pt":"msg","to":"ml","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":129.5,"y":522,"wires":[["c2679164.6ac93"]]},{"id":"11d7dc13.0b80f4","type":"change","z":"9401cbe4.25aef8","name":"Calcular Ratio","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":288.5,"y":722,"wires":[[]]},{"id":"a4ec682a.d70348","type":"change","z":"9401cbe4.25aef8","name":"Borrar","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":759,"wires":[[]]},{"id":"639e61e3.865ba","type":"change","z":"9401cbe4.25aef8","name":"","rules":[{"t":"set","p":"Ml","pt":"flow","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":452.5,"y":563,"wires":[[]]}]