node-red.json
[
    {
        "id": "19014767.b6ae39",
        "type": "tab",
        "label": "Medioambiente",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a7776b85.a49d08",
        "type": "tab",
        "label": "Riego",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f727ece7.d502",
        "type": "tab",
        "label": "Dash Medio",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f1502aa1.f196d8",
        "type": "tab",
        "label": "Dash Riego",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dd4b3d65.557db",
        "type": "tab",
        "label": "Dash Manten",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aaff6e62.1cd8b",
        "type": "tab",
        "label": "Dash Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aeff9ac1.39a408",
        "type": "tab",
        "label": "Hardware",
        "disabled": true,
        "info": ""
    },
    {
        "id": "ee72035b.525fc",
        "type": "subflow",
        "name": "Ventilador",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 25,
                "y": 25,
                "wires": [
                    {
                        "id": "eda4e0e0.808fa"
                    },
                    {
                        "id": "5ea82a14.cc2d74"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 974.5,
                "y": 125.5,
                "wires": [
                    {
                        "id": "42e181ec.43241",
                        "port": 0
                    },
                    {
                        "id": "c81b5a00.56ef18",
                        "port": 0
                    },
                    {
                        "id": "18361b26.80d4e5",
                        "port": 0
                    },
                    {
                        "id": "b3cac62a.bac6b8",
                        "port": 0
                    },
                    {
                        "id": "77354fb.909deb",
                        "port": 0
                    },
                    {
                        "id": "7c92f094.ce2e6",
                        "port": 0
                    },
                    {
                        "id": "e85d8728.d429f8",
                        "port": 0
                    },
                    {
                        "id": "6f087ae1.ea8af4",
                        "port": 0
                    },
                    {
                        "id": "6ebc8dd3.1fa8d4",
                        "port": 0
                    }
                ]
            }
        ],
        "inputLabels": [
            "modo"
        ],
        "outputLabels": [
            "ventilador"
        ]
    },
    {
        "id": "fdd9b26e.c7269",
        "type": "subflow",
        "name": "Regar",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 25,
                "y": 197,
                "wires": [
                    {
                        "id": "153eb0f3.2bf10f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 705.7143859863281,
                "y": 144.2857151031494,
                "wires": [
                    {
                        "id": "df532c85.4d9e4",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1008.0000610351562,
                "y": 293.7143249511719,
                "wires": [
                    {
                        "id": "b62ba49a.85c568",
                        "port": 0
                    },
                    {
                        "id": "c9e6b788.4026d8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 725.2858276367188,
                "y": 442.71429443359375,
                "wires": [
                    {
                        "id": "b62ba49a.85c568",
                        "port": 0
                    },
                    {
                        "id": "153eb0f3.2bf10f",
                        "port": 0
                    },
                    {
                        "id": "8b5165a5.d61e18",
                        "port": 0
                    }
                ]
            },
            {
                "x": 725.7144012451172,
                "y": 496.57140159606934,
                "wires": [
                    {
                        "id": "ee162e60.aa26a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 724.5714111328125,
                "y": 559.0000267028809,
                "wires": [
                    {
                        "id": "7e2c3cf7.5ca054",
                        "port": 0
                    }
                ]
            },
            {
                "x": 722.2857666015625,
                "y": 618.8572044372559,
                "wires": [
                    {
                        "id": "39162d08.fbecf2",
                        "port": 0
                    }
                ]
            }
        ],
        "outputLabels": [
            "Llenado",
            "Riego",
            "Acondicionador",
            "Fertilizante 1",
            "Fertilizante 2",
            "Fertilizante 3"
        ]
    },
    {
        "id": "fa7bb1d6.15af7",
        "type": "subflow",
        "name": "Fotoperiodo",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 67.00000095367432,
                "y": 43.00000476837158,
                "wires": [
                    {
                        "id": "6ed5f812.32e9e8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1125.5,
                "y": 285.00000190734863,
                "wires": [
                    {
                        "id": "7aad8914.e615a8",
                        "port": 0
                    },
                    {
                        "id": "a6d8de1.b2e792",
                        "port": 0
                    },
                    {
                        "id": "ad18e9ff.f487e8",
                        "port": 2
                    },
                    {
                        "id": "640aac08.b32b04",
                        "port": 2
                    },
                    {
                        "id": "972d6951.821d08",
                        "port": 2
                    },
                    {
                        "id": "350d295c.99b416",
                        "port": 2
                    }
                ]
            }
        ]
    },
    {
        "id": "3490b3b1.7d644c",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4cd4b572.a47d2c",
        "type": "ui_group",
        "z": "",
        "name": "Temperatura",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "63570236.c31a7c",
        "type": "ui_group",
        "z": "",
        "name": "Humedad",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "817cf75e.7d3288",
        "type": "ui_group",
        "z": "",
        "name": "Medioambiente",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fbf775a2.17b738",
        "type": "ui_group",
        "z": "",
        "name": "Riego",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "855a2cc.f3e5bd",
        "type": "mqtt-broker",
        "z": "",
        "name": "pcduino",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "127.0.0.1",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a0b17ea6.86eeb",
        "type": "ui_tab",
        "z": "",
        "name": "Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7b5e67a7.fa80b8",
        "type": "ui_group",
        "z": "",
        "name": "Suelo",
        "tab": "a0b17ea6.86eeb",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "1453bda0.653f22",
        "type": "ui_group",
        "z": "",
        "name": "Medioambiente",
        "tab": "5d671eea.cedb3",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "65029214.b9fcbc",
        "type": "ui_group",
        "z": "",
        "name": "Riego",
        "tab": "5d671eea.cedb3",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "f4973d0b.97bd2",
        "type": "persist-store",
        "z": "",
        "filename": "dashboad.json",
        "interval": "60"
    },
    {
        "id": "72f52fc7.4e9b2",
        "type": "ui_group",
        "z": "",
        "name": "Emular",
        "tab": "5d671eea.cedb3",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "9ebf2e32.1c407",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "65029214.b9fcbc",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7be58b8.30a028",
        "type": "ui_group",
        "z": "",
        "name": "Purgado",
        "tab": "9fcf736d.fc531",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "9fcf736d.fc531",
        "type": "ui_tab",
        "z": "",
        "name": "Mantenimiento",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d671eea.cedb3",
        "type": "ui_tab",
        "z": "",
        "name": "Control",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e757ae4c.17ed6",
        "type": "ui_group",
        "z": "",
        "name": "Temperatura",
        "tab": "a0b17ea6.86eeb",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "40a0fbf5.df8be4",
        "type": "ui_group",
        "z": "",
        "name": "Humedad",
        "tab": "a0b17ea6.86eeb",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "e1b0f88c.ae4cb8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1453bda0.653f22",
        "order": 3,
        "width": "7",
        "height": 1
    },
    {
        "id": "a639160e.ac5268",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "1453bda0.653f22",
        "order": 5,
        "width": "7",
        "height": 1
    },
    {
        "id": "e9270f5d.745d5",
        "type": "ui_group",
        "z": "",
        "name": "Modo Mantenimiento",
        "tab": "9fcf736d.fc531",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "f878a16e.d4c67",
        "type": "ui_group",
        "z": "",
        "name": "Calibrar",
        "tab": "9fcf736d.fc531",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "2786185f.9f4da8",
        "type": "nodebot",
        "z": "",
        "name": "",
        "username": "",
        "password": "",
        "boardType": "beaglebone-io",
        "serialportName": "",
        "connectionType": "local",
        "mqttServer": "",
        "pubTopic": "",
        "subTopic": "",
        "tcpHost": "",
        "tcpPort": "",
        "sparkId": "",
        "sparkToken": "",
        "beanId": "",
        "impId": "",
        "uuid": "",
        "token": "",
        "sendUuid": ""
    },
    {
        "id": "c01b87a2.c82678",
        "type": "ui_numeric",
        "z": "f727ece7.d502",
        "name": "",
        "label": "Humedad",
        "tooltip": "",
        "group": "1453bda0.653f22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "Armario/Humedad/Target",
        "format": "{{value}}",
        "min": "20",
        "max": "100",
        "step": "5",
        "x": 314,
        "y": 153.5,
        "wires": [
            [
                "c65bf0da.079dd"
            ]
        ]
    },
    {
        "id": "db5b07c6.951f08",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Temperatura",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 127,
        "y": 55,
        "wires": [
            [
                "4809565a.bae268"
            ]
        ]
    },
    {
        "id": "d6ae0d9c.0652c",
        "type": "mqtt out",
        "z": "19014767.b6ae39",
        "name": "Ventilador Intrac/Extrac",
        "topic": "Armario/Relay/0",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 666.75,
        "y": 353.75,
        "wires": []
    },
    {
        "id": "7c1354e4.509d8c",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Humedad",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 119,
        "y": 124,
        "wires": [
            [
                "7c9c2374.04671c"
            ]
        ]
    },
    {
        "id": "c65bf0da.079dd",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumedadTarget",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 564,
        "y": 149.5,
        "wires": [
            [
                "e62f35e.e6059c8"
            ]
        ]
    },
    {
        "id": "95cca85f.72d638",
        "type": "ui_numeric",
        "z": "f727ece7.d502",
        "name": "",
        "label": "Temperatura",
        "tooltip": "",
        "group": "1453bda0.653f22",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "Armario/Temperature/Target",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 325,
        "y": 64.5,
        "wires": [
            [
                "abe693f1.37dea"
            ]
        ]
    },
    {
        "id": "abe693f1.37dea",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TemperaturaTarget",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 564,
        "y": 63.5,
        "wires": [
            [
                "3d8c9d9d.feb502"
            ]
        ]
    },
    {
        "id": "bd326106.7358c",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Fotoperiodo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 512,
        "y": 606.7499990463257,
        "wires": [
            [
                "220012d3.da0a6e",
                "468083c0.b0a04c"
            ]
        ]
    },
    {
        "id": "24493e66.174662",
        "type": "ui_dropdown",
        "z": "f727ece7.d502",
        "name": "",
        "label": "Fotoperiodo",
        "tooltip": "",
        "place": "Select option",
        "group": "1453bda0.653f22",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Vegetativo Intensivo",
                "value": "VegetativoIntensivo",
                "type": "str"
            },
            {
                "label": "Vegetativo",
                "value": "Vegetativo",
                "type": "str"
            },
            {
                "label": "Floracion",
                "value": "Floracion",
                "type": "str"
            },
            {
                "label": "Final Floracion",
                "value": "FinalFloracion",
                "type": "str"
            },
            {
                "label": "On",
                "value": "On",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "Off",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 318,
        "y": 604.7499990463257,
        "wires": [
            [
                "bd326106.7358c"
            ]
        ]
    },
    {
        "id": "468083c0.b0a04c",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/Fotoperiodo",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 766,
        "y": 580.7499990463257,
        "wires": []
    },
    {
        "id": "24e7208d.38712",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Armario/Regar",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 192.14287948608398,
        "y": 522.7856798171997,
        "wires": [
            [
                "d7fb4e64.6d707"
            ]
        ]
    },
    {
        "id": "60918806.8ba288",
        "type": "change",
        "z": "fdd9b26e.c7269",
        "name": "Fertilizante1Ml",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number($globalContext(\"Fertilizante1Ml\"))*$number($globalContext(\"Fertilizante1Ratio\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 392.07141876220703,
        "y": 494.7500259876251,
        "wires": [
            [
                "ee162e60.aa26a"
            ]
        ]
    },
    {
        "id": "dceba731.5d6f88",
        "type": "change",
        "z": "fdd9b26e.c7269",
        "name": "Fertilizante2Ml",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number($globalContext(\"Fertilizante2Ml\"))*$number($globalContext(\"Fertilizante2Ratio\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 392.9285583496094,
        "y": 558.7857322692871,
        "wires": [
            [
                "7e2c3cf7.5ca054"
            ]
        ]
    },
    {
        "id": "412ebdfb.686ac4",
        "type": "change",
        "z": "fdd9b26e.c7269",
        "name": "AguaMl",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number($globalContext(\"AguaMl\"))*$number($globalContext(\"AguaRatio\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 374.00000762939453,
        "y": 145.50000381469727,
        "wires": [
            [
                "df532c85.4d9e4"
            ]
        ]
    },
    {
        "id": "df532c85.4d9e4",
        "type": "function",
        "z": "fdd9b26e.c7269",
        "name": "payload Trigger",
        "func": "\nif (msg.reset != 0)\n{\n    clearTimeout(context.get('timer'));\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    let t = setTimeout(function()\n    {\n        node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n        msg.payload = \"0\"\n        node.send(msg)\n    }   , number); // sets timeout\n    context.set('timer', t);\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});    \n    msg.payload = \"1\"\n    node.send(msg)\n    \n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 544.0000534057617,
        "y": 144.50000381469727,
        "wires": [
            [
                "86b2d232.1765b"
            ]
        ],
        "icon": "node-red/trigger.png"
    },
    {
        "id": "86b2d232.1765b",
        "type": "switch",
        "z": "fdd9b26e.c7269",
        "name": "When Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 719.857120513916,
        "y": 205.07142639160156,
        "wires": [
            [
                "8b5165a5.d61e18"
            ]
        ]
    },
    {
        "id": "8b5165a5.d61e18",
        "type": "delay",
        "z": "fdd9b26e.c7269",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 735.5714492797852,
        "y": 262.50000762939453,
        "wires": [
            [
                "c9e6b788.4026d8"
            ]
        ]
    },
    {
        "id": "c9e6b788.4026d8",
        "type": "trigger",
        "z": "fdd9b26e.c7269",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 871.714225769043,
        "y": 327.21427631378174,
        "wires": [
            [
                "53f22de2.7ade24"
            ]
        ]
    },
    {
        "id": "82988580.dc54f8",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "Fotoperiodo",
        "storageNode": "f4973d0b.97bd2",
        "x": 144.5,
        "y": 606.7499990463257,
        "wires": [
            [
                "24493e66.174662"
            ]
        ]
    },
    {
        "id": "220012d3.da0a6e",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "Fotoperiodo",
        "storageNode": "f4973d0b.97bd2",
        "x": 738.5,
        "y": 642.7499990463257,
        "wires": []
    },
    {
        "id": "e62f35e.e6059c8",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "Humedad",
        "storageNode": "f4973d0b.97bd2",
        "x": 776.5,
        "y": 150.5,
        "wires": []
    },
    {
        "id": "fd7037a2.280ff8",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "Humedad",
        "storageNode": "f4973d0b.97bd2",
        "x": 174.5,
        "y": 155.5,
        "wires": [
            [
                "c01b87a2.c82678"
            ]
        ]
    },
    {
        "id": "3d8c9d9d.feb502",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "Temperatura",
        "storageNode": "f4973d0b.97bd2",
        "x": 785.5,
        "y": 62.5,
        "wires": []
    },
    {
        "id": "98482ab1.d179c8",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "Temperatura",
        "storageNode": "f4973d0b.97bd2",
        "x": 166.5,
        "y": 64.5,
        "wires": [
            [
                "95cca85f.72d638"
            ]
        ]
    },
    {
        "id": "e9ab9a98.f55348",
        "type": "ui_dropdown",
        "z": "f727ece7.d502",
        "name": "",
        "label": "V  Intra/Extra",
        "tooltip": "",
        "place": "Select option",
        "group": "1453bda0.653f22",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "On",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "Off",
                "type": "str"
            },
            {
                "label": "1 Minuto Cada 5 ",
                "value": "1m5m",
                "type": "str"
            },
            {
                "label": "30 Minutos al Dia",
                "value": "30m24h",
                "type": "str"
            },
            {
                "label": "Fotoperiodo",
                "value": "Fotoperiodo",
                "type": "str"
            },
            {
                "label": "Temperatura Alta",
                "value": "TemperaturaAlta",
                "type": "str"
            },
            {
                "label": "Humedad Alta",
                "value": "HumedadAlta",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 325.5,
        "y": 355.5,
        "wires": [
            [
                "2d995cb9.c80f54"
            ]
        ]
    },
    {
        "id": "2d995cb9.c80f54",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "VIntraExtra",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 532,
        "y": 358.5,
        "wires": [
            [
                "3dd7e25d.1ed3de",
                "c052a808.ffc5c8"
            ]
        ]
    },
    {
        "id": "c052a808.ffc5c8",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/VIntraExtra",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 773,
        "y": 346.5,
        "wires": []
    },
    {
        "id": "d3ab167c.ed7d18",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "VIntraExtra",
        "storageNode": "f4973d0b.97bd2",
        "x": 156.5,
        "y": 355.5,
        "wires": [
            [
                "e9ab9a98.f55348"
            ]
        ]
    },
    {
        "id": "3dd7e25d.1ed3de",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "VIntraExtra",
        "storageNode": "f4973d0b.97bd2",
        "x": 758.5,
        "y": 394.5,
        "wires": []
    },
    {
        "id": "8af53ac9.887e78",
        "type": "switch",
        "z": "ee72035b.525fc",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1m5m",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "30m24h",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Fotoperiodo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TemperaturaAlta",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "HumedadAlta",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 372.5000305175781,
        "y": 254,
        "wires": [
            [
                "42e181ec.43241"
            ],
            [
                "c81b5a00.56ef18"
            ],
            [
                "792a7b0.778a884"
            ],
            [
                "41fafedf.df57f"
            ],
            [
                "4ebf172b.f87de8"
            ],
            [
                "36268106.086c8e"
            ],
            [
                "8d559633.a80208"
            ]
        ]
    },
    {
        "id": "42e181ec.43241",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 658.5000152587891,
        "y": 23,
        "wires": [
            []
        ]
    },
    {
        "id": "c81b5a00.56ef18",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 659.5000152587891,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "18361b26.80d4e5",
        "type": "trigger",
        "z": "ee72035b.525fc",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "1",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 749.0000152587891,
        "y": 207,
        "wires": [
            []
        ]
    },
    {
        "id": "792a7b0.778a884",
        "type": "trigger",
        "z": "ee72035b.525fc",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "str",
        "duration": "-6",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 720.0000152587891,
        "y": 142,
        "wires": [
            [
                "18361b26.80d4e5"
            ]
        ]
    },
    {
        "id": "6f087ae1.ea8af4",
        "type": "bigtimer",
        "z": "ee72035b.525fc",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "30min24h",
        "comment": "",
        "lat": "-34.6083",
        "lon": "-58.3712",
        "starttime": "1320",
        "endtime": "10030",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 771.0000152587891,
        "y": 268.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c9f5a743.14a708",
        "type": "switch",
        "z": "ee72035b.525fc",
        "name": "Temperatura Alta",
        "property": "Temperatura",
        "propertyType": "global",
        "rules": [
            {
                "t": "gte",
                "v": "TemperaturaTarget",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "TemperaturaTarget",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 664.0000076293945,
        "y": 495.0000057220459,
        "wires": [
            [
                "b3cac62a.bac6b8"
            ],
            [
                "77354fb.909deb"
            ]
        ]
    },
    {
        "id": "b3cac62a.bac6b8",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840.0000076293945,
        "y": 473.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "77354fb.909deb",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840.0000076293945,
        "y": 512.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "36268106.086c8e",
        "type": "trigger",
        "z": "ee72035b.525fc",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-3",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 641.0000076293945,
        "y": 431.0000057220459,
        "wires": [
            [
                "c9f5a743.14a708"
            ]
        ]
    },
    {
        "id": "910a64.88fd65a",
        "type": "switch",
        "z": "ee72035b.525fc",
        "name": "Humedad Alta",
        "property": "Humedad",
        "propertyType": "global",
        "rules": [
            {
                "t": "gte",
                "v": "HumedadTarget",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "HumedadTarget",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 656.0000076293945,
        "y": 628.0000057220459,
        "wires": [
            [
                "7c92f094.ce2e6"
            ],
            [
                "e85d8728.d429f8"
            ]
        ]
    },
    {
        "id": "7c92f094.ce2e6",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 844.0000076293945,
        "y": 606.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "e85d8728.d429f8",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 844.0000076293945,
        "y": 645.0000057220459,
        "wires": [
            []
        ]
    },
    {
        "id": "8d559633.a80208",
        "type": "trigger",
        "z": "ee72035b.525fc",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-3",
        "extend": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 646.0000076293945,
        "y": 559.0000057220459,
        "wires": [
            [
                "910a64.88fd65a"
            ]
        ]
    },
    {
        "id": "4809565a.bae268",
        "type": "change",
        "z": "19014767.b6ae39",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Temperatura",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 382.5,
        "y": 55,
        "wires": [
            []
        ]
    },
    {
        "id": "7c9c2374.04671c",
        "type": "change",
        "z": "19014767.b6ae39",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Humedad",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 378,
        "y": 124,
        "wires": [
            []
        ]
    },
    {
        "id": "1fda0057.7f045",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 395.00001525878906,
        "y": 20,
        "wires": [
            [
                "792a7b0.778a884",
                "6f087ae1.ea8af4",
                "36268106.086c8e",
                "8d559633.a80208",
                "18361b26.80d4e5",
                "6ebc8dd3.1fa8d4"
            ]
        ]
    },
    {
        "id": "54c7c993.806928",
        "type": "delay",
        "z": "ee72035b.525fc",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 154.50001525878906,
        "y": 190.25,
        "wires": [
            [
                "8af53ac9.887e78"
            ]
        ]
    },
    {
        "id": "41fafedf.df57f",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Auto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 599.5000152587891,
        "y": 272,
        "wires": [
            [
                "6f087ae1.ea8af4"
            ]
        ]
    },
    {
        "id": "f9cda3d9.e76e9",
        "type": "ui_numeric",
        "z": "f727ece7.d502",
        "name": "",
        "label": "Humedad",
        "tooltip": "",
        "group": "72f52fc7.4e9b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "Armario/Humedad/Target",
        "format": "{{value}}",
        "min": "20",
        "max": "99",
        "step": 1,
        "x": 1315.5000267028809,
        "y": 248.00000476837158,
        "wires": [
            [
                "8fb809a5.604848",
                "c3ffcaf7.cd97d8",
                "c6883ebb.33b75"
            ]
        ]
    },
    {
        "id": "c3ffcaf7.cd97d8",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "HumedadEmu",
        "storageNode": "f4973d0b.97bd2",
        "x": 1541.0000267028809,
        "y": 257.0000047683716,
        "wires": []
    },
    {
        "id": "8711197a.bfc9d8",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "HumedadEmu",
        "storageNode": "f4973d0b.97bd2",
        "x": 1145.0000267028809,
        "y": 248.00000476837158,
        "wires": [
            [
                "f9cda3d9.e76e9"
            ]
        ]
    },
    {
        "id": "72b4288.843b6d8",
        "type": "ui_numeric",
        "z": "f727ece7.d502",
        "name": "",
        "label": "Temperatura",
        "tooltip": "",
        "group": "72f52fc7.4e9b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "Armario/Humedad/Target",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "step": 1,
        "x": 1332.5000267028809,
        "y": 100.00000667572021,
        "wires": [
            [
                "5f4557e.1df39a8",
                "691dd5d2.e67e8c",
                "95bff571.2939f8"
            ]
        ]
    },
    {
        "id": "691dd5d2.e67e8c",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "TemperaturaEmu",
        "storageNode": "f4973d0b.97bd2",
        "x": 1557.0000267028809,
        "y": 119.00000667572021,
        "wires": []
    },
    {
        "id": "34ddf2b6.a1c7ce",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "TemperaturaEmu",
        "storageNode": "f4973d0b.97bd2",
        "x": 1149.0000267028809,
        "y": 103.00000667572021,
        "wires": [
            [
                "72b4288.843b6d8"
            ]
        ]
    },
    {
        "id": "8fb809a5.604848",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/Humedad",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1551.5000267028809,
        "y": 207.00000476837158,
        "wires": []
    },
    {
        "id": "5f4557e.1df39a8",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/Temperatura",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1565.5000267028809,
        "y": 71.00000667572021,
        "wires": []
    },
    {
        "id": "1f3fdf2b.c84dc1",
        "type": "ui_dropdown",
        "z": "f727ece7.d502",
        "name": "",
        "label": "V Interno",
        "tooltip": "",
        "place": "Select option",
        "group": "1453bda0.653f22",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "On",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "Off",
                "type": "str"
            },
            {
                "label": "1 Minuto Cada 5 ",
                "value": "1m5m",
                "type": "str"
            },
            {
                "label": "30 Minutos al Dia",
                "value": "30m24h",
                "type": "str"
            },
            {
                "label": "Fotoperiodo",
                "value": "Fotoperiodo",
                "type": "str"
            },
            {
                "label": "Temperatura Alta",
                "value": "TemperaturaAlta",
                "type": "str"
            },
            {
                "label": "Humedad Alta",
                "value": "HumedadAlta",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 325,
        "y": 229.5,
        "wires": [
            [
                "5f3fc48c.8947ac"
            ]
        ]
    },
    {
        "id": "5f3fc48c.8947ac",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "VInterno",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 531.5,
        "y": 232.5,
        "wires": [
            [
                "5077ba60.74e474",
                "bd46abfa.cfd9e8"
            ]
        ]
    },
    {
        "id": "bd46abfa.cfd9e8",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/VInterno",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 782.5,
        "y": 220.5,
        "wires": []
    },
    {
        "id": "c2d38041.9268c",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "VInterno",
        "storageNode": "f4973d0b.97bd2",
        "x": 156,
        "y": 229.5,
        "wires": [
            [
                "1f3fdf2b.c84dc1"
            ]
        ]
    },
    {
        "id": "5077ba60.74e474",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "VInterno",
        "storageNode": "f4973d0b.97bd2",
        "x": 758,
        "y": 268.5,
        "wires": []
    },
    {
        "id": "9360a203.f6421",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/VInterno",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 101.5,
        "y": 574,
        "wires": [
            [
                "b36b5c24.fb5a9"
            ]
        ]
    },
    {
        "id": "dd312e3c.6f7e6",
        "type": "inject",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/VInterno",
        "payload": "VInterno",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 103.5,
        "y": 533,
        "wires": [
            [
                "b36b5c24.fb5a9"
            ]
        ]
    },
    {
        "id": "7c0d4065.3dc94",
        "type": "mqtt out",
        "z": "19014767.b6ae39",
        "name": "Ventilador Interno",
        "topic": "Armario/Relay/2",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 644,
        "y": 571,
        "wires": []
    },
    {
        "id": "b36b5c24.fb5a9",
        "type": "subflow:ee72035b.525fc",
        "z": "19014767.b6ae39",
        "name": "",
        "x": 463,
        "y": 574,
        "wires": [
            [
                "7c0d4065.3dc94"
            ]
        ]
    },
    {
        "id": "c000ae1f.0daad",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/VIntraExtra",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 114.75,
        "y": 360.7499942779541,
        "wires": [
            [
                "e4a99dc.b236d6"
            ]
        ]
    },
    {
        "id": "23aa06a2.5ff02a",
        "type": "inject",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/VIntraExtra",
        "payload": "VIntraExtra",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 115.75,
        "y": 312.75,
        "wires": [
            [
                "e4a99dc.b236d6"
            ]
        ]
    },
    {
        "id": "e4a99dc.b236d6",
        "type": "subflow:ee72035b.525fc",
        "z": "19014767.b6ae39",
        "name": "",
        "x": 465.25,
        "y": 353.75,
        "wires": [
            [
                "d6ae0d9c.0652c"
            ]
        ]
    },
    {
        "id": "95bff571.2939f8",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Temperatura",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1566.0000267028809,
        "y": 162.00000667572021,
        "wires": [
            []
        ]
    },
    {
        "id": "c6883ebb.33b75",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Humedad",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1557.5000267028809,
        "y": 298.0000047683716,
        "wires": [
            []
        ]
    },
    {
        "id": "11c4de86.d4b4e1",
        "type": "ui_numeric",
        "z": "f727ece7.d502",
        "name": "",
        "label": "Humedad Suelo",
        "tooltip": "",
        "group": "72f52fc7.4e9b2",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "Armario/Humedad/Target",
        "format": "{{value}}",
        "min": "20",
        "max": "99",
        "step": 1,
        "x": 1339,
        "y": 415,
        "wires": [
            [
                "26bfbd1b.5a5782",
                "c154142c.6feb48",
                "fee9e88.e4f7318"
            ]
        ]
    },
    {
        "id": "c154142c.6feb48",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "HumedadSueloEmu",
        "storageNode": "f4973d0b.97bd2",
        "x": 1564.5,
        "y": 424,
        "wires": []
    },
    {
        "id": "6aab7775.0cffc8",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "HumedadSueloEmu",
        "storageNode": "f4973d0b.97bd2",
        "x": 1125.5,
        "y": 415,
        "wires": [
            [
                "11c4de86.d4b4e1"
            ]
        ]
    },
    {
        "id": "26bfbd1b.5a5782",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/HumedadSuelo",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1575,
        "y": 374,
        "wires": []
    },
    {
        "id": "fee9e88.e4f7318",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumedadSuelo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1571,
        "y": 465,
        "wires": [
            []
        ]
    },
    {
        "id": "3e0b902f.7742a",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Armario/HumedadSuelo",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 148.42857360839844,
        "y": 49.24995422363281,
        "wires": [
            [
                "691b64b2.93ca5c"
            ]
        ]
    },
    {
        "id": "691b64b2.93ca5c",
        "type": "change",
        "z": "a7776b85.a49d08",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumedadSuelo",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 392.1428527832031,
        "y": 49.53565979003906,
        "wires": [
            []
        ]
    },
    {
        "id": "c82be53e.ae4878",
        "type": "ui_dropdown",
        "z": "f727ece7.d502",
        "name": "",
        "label": "V Sodio",
        "tooltip": "",
        "place": "Select option",
        "group": "1453bda0.653f22",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "On",
                "value": "On",
                "type": "str"
            },
            {
                "label": "Off",
                "value": "Off",
                "type": "str"
            },
            {
                "label": "1 Minuto Cada 5 ",
                "value": "1m5m",
                "type": "str"
            },
            {
                "label": "30 Minutos al Dia",
                "value": "30m24h",
                "type": "str"
            },
            {
                "label": "Fotoperiodo",
                "value": "Fotoperiodo",
                "type": "str"
            },
            {
                "label": "Temperatura Alta",
                "value": "TemperaturaAlta",
                "type": "str"
            },
            {
                "label": "Humedad Alta",
                "value": "HumedadAlta",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 305.25,
        "y": 473.499981880188,
        "wires": [
            [
                "b66dac2f.048c6"
            ]
        ]
    },
    {
        "id": "b66dac2f.048c6",
        "type": "change",
        "z": "f727ece7.d502",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "VSodio",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 511.75,
        "y": 476.499981880188,
        "wires": [
            [
                "644bb87a.91c618",
                "e2248338.e3c5c"
            ]
        ]
    },
    {
        "id": "e2248338.e3c5c",
        "type": "mqtt out",
        "z": "f727ece7.d502",
        "name": "",
        "topic": "Armario/VSodio",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 752.75,
        "y": 464.499981880188,
        "wires": []
    },
    {
        "id": "ba941fdd.ffa18",
        "type": "persist out",
        "z": "f727ece7.d502",
        "name": "VSodio",
        "storageNode": "f4973d0b.97bd2",
        "x": 136.25,
        "y": 473.499981880188,
        "wires": [
            [
                "c82be53e.ae4878"
            ]
        ]
    },
    {
        "id": "644bb87a.91c618",
        "type": "persist in",
        "z": "f727ece7.d502",
        "name": "VSodio",
        "storageNode": "f4973d0b.97bd2",
        "x": 738.25,
        "y": 512.499981880188,
        "wires": []
    },
    {
        "id": "7994994f.1d0e98",
        "type": "mqtt out",
        "z": "19014767.b6ae39",
        "name": "Ventilador Sodio ",
        "topic": "Armario/Relay/1",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 636,
        "y": 467.75,
        "wires": []
    },
    {
        "id": "31dd43e.82da1bc",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/VSodio",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 103,
        "y": 467.75,
        "wires": [
            [
                "fa44aa0b.4f1538"
            ]
        ]
    },
    {
        "id": "fcfdad0c.ecbcc",
        "type": "inject",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/VSodio",
        "payload": "VSodio",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 105,
        "y": 426.75,
        "wires": [
            [
                "fa44aa0b.4f1538"
            ]
        ]
    },
    {
        "id": "fa44aa0b.4f1538",
        "type": "subflow:ee72035b.525fc",
        "z": "19014767.b6ae39",
        "name": "",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "7994994f.1d0e98"
            ]
        ]
    },
    {
        "id": "c5e57986.f31648",
        "type": "switch",
        "z": "fa7bb1d6.15af7",
        "name": "Fotoperiodo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "VegetativoIntensivo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Vegetativo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Floracion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FinalFloracion",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 544.7500076293945,
        "y": 315.25000381469727,
        "wires": [
            [
                "fce0a9b9.9ec2a8"
            ],
            [
                "26045239.3d9aee"
            ],
            [
                "6847bbc7.4e4344"
            ],
            [
                "eb577645.89cd38"
            ],
            [
                "7aad8914.e615a8"
            ],
            [
                "a6d8de1.b2e792"
            ],
            [
                "a6d8de1.b2e792"
            ]
        ]
    },
    {
        "id": "972d6951.821d08",
        "type": "bigtimer",
        "z": "fa7bb1d6.15af7",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Floracion",
        "comment": "",
        "lat": "-34.67865",
        "lon": "-58.38982",
        "starttime": "900",
        "endtime": "180",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 945.7500076293945,
        "y": 356.50000762939453,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ad18e9ff.f487e8",
        "type": "bigtimer",
        "z": "fa7bb1d6.15af7",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Vegetativo",
        "comment": "",
        "lat": "-34.67865",
        "lon": "-58.38982",
        "starttime": "540",
        "endtime": "180",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 958.7500076293945,
        "y": 242.00000762939453,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "26045239.3d9aee",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790.7500076293945,
        "y": 242.00000762939453,
        "wires": [
            [
                "ad18e9ff.f487e8"
            ]
        ]
    },
    {
        "id": "6847bbc7.4e4344",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 785.7500076293945,
        "y": 356.00000762939453,
        "wires": [
            [
                "972d6951.821d08"
            ]
        ]
    },
    {
        "id": "2426c2d5.a5f15e",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 599.7500076293945,
        "y": 101.25000953674316,
        "wires": [
            [
                "ad18e9ff.f487e8",
                "972d6951.821d08",
                "640aac08.b32b04",
                "350d295c.99b416"
            ]
        ]
    },
    {
        "id": "4427c411.490eac",
        "type": "delay",
        "z": "fa7bb1d6.15af7",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 386.75000762939453,
        "y": 318.0000343322754,
        "wires": [
            [
                "c5e57986.f31648"
            ]
        ]
    },
    {
        "id": "640aac08.b32b04",
        "type": "bigtimer",
        "z": "fa7bb1d6.15af7",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Vegetativo Intensivo",
        "comment": "",
        "lat": "-34.67865",
        "lon": "-58.38982",
        "starttime": "540",
        "endtime": "420",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 990.7500076293945,
        "y": 143.00000762939453,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "fce0a9b9.9ec2a8",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 789.7500076293945,
        "y": 142.00000762939453,
        "wires": [
            [
                "640aac08.b32b04"
            ]
        ]
    },
    {
        "id": "350d295c.99b416",
        "type": "bigtimer",
        "z": "fa7bb1d6.15af7",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Final Floracion",
        "comment": "",
        "lat": "-34.67865",
        "lon": "-58.38982",
        "starttime": "900",
        "endtime": "135",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 972.7500076293945,
        "y": 450.00000762939453,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "eb577645.89cd38",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 792.7500076293945,
        "y": 449.50000762939453,
        "wires": [
            [
                "350d295c.99b416"
            ]
        ]
    },
    {
        "id": "ee162e60.aa26a",
        "type": "function",
        "z": "fdd9b26e.c7269",
        "name": "payload Trigger",
        "func": "\nif (msg.reset != 0)\n{\n    clearTimeout(context.get('timer'));\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    let t = setTimeout(function()\n    {\n        node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n        msg.payload = \"0\"\n        node.send(msg)\n    }   , number); // sets timeout\n    context.set('timer', t);\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});    \n    msg.payload = \"1\"\n    node.send(msg)\n    \n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 497.107177734375,
        "wires": [
            []
        ],
        "icon": "node-red/trigger.png"
    },
    {
        "id": "7e2c3cf7.5ca054",
        "type": "function",
        "z": "fdd9b26e.c7269",
        "name": "payload Trigger",
        "func": "\nif (msg.reset != 0)\n{\n    clearTimeout(context.get('timer'));\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    let t = setTimeout(function()\n    {\n        node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n        msg.payload = \"0\"\n        node.send(msg)\n    }   , number); // sets timeout\n    context.set('timer', t);\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});    \n    msg.payload = \"1\"\n    node.send(msg)\n    \n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 583.4285659790039,
        "y": 558.5357313156128,
        "wires": [
            []
        ],
        "icon": "node-red/trigger.png"
    },
    {
        "id": "994b8013.4a698",
        "type": "ui_gauge",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "group": "e757ae4c.17ed6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#8080ff",
            "#80ff00",
            "#ca3838"
        ],
        "seg1": "18",
        "seg2": "26",
        "x": 701.25,
        "y": 48.75,
        "wires": []
    },
    {
        "id": "807dfdf.b8197",
        "type": "ui_chart",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "group": "e757ae4c.17ed6",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 696.25,
        "y": 139.75,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c92bbcb1.062bf",
        "type": "ui_gauge",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "group": "40a0fbf5.df8be4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "20",
        "max": "99",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#6000bf"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 691.25,
        "y": 246.75,
        "wires": []
    },
    {
        "id": "1c583dbb.cc24a2",
        "type": "ui_chart",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "group": "40a0fbf5.df8be4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "99",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 689.25,
        "y": 336.75,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9805949b.54f8b8",
        "type": "inject",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Value",
        "payload": "Temperatura",
        "payloadType": "global",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 119.75,
        "y": 120.75,
        "wires": [
            [
                "807dfdf.b8197",
                "994b8013.4a698"
            ]
        ]
    },
    {
        "id": "e8c752d9.4cac9",
        "type": "mqtt in",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Armario/Temperatura",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 118.5,
        "y": 46.75000190734863,
        "wires": [
            [
                "994b8013.4a698"
            ]
        ]
    },
    {
        "id": "2c0614ba.5dcf2c",
        "type": "inject",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Value",
        "payload": "Humedad",
        "payloadType": "global",
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 112.25,
        "y": 295.75,
        "wires": [
            [
                "1c583dbb.cc24a2",
                "c92bbcb1.062bf"
            ]
        ]
    },
    {
        "id": "47473707.c4ded8",
        "type": "mqtt in",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Armario/Humedad",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 111.25,
        "y": 240.75,
        "wires": [
            [
                "c92bbcb1.062bf"
            ]
        ]
    },
    {
        "id": "31a78ab6.9b91e6",
        "type": "ui_gauge",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "group": "7b5e67a7.fa80b8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad Suelo",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "99",
        "colors": [
            "#ff0000",
            "#ffff00",
            "#6000bf"
        ],
        "seg1": "40",
        "seg2": "60",
        "x": 714.25,
        "y": 422.75,
        "wires": []
    },
    {
        "id": "bca24b94.c8f868",
        "type": "ui_chart",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "group": "7b5e67a7.fa80b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "99",
        "removeOlder": "4",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 692.25,
        "y": 512.75,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "965cfc37.1c9a7",
        "type": "inject",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Value",
        "payload": "HumedadSuelo",
        "payloadType": "global",
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 135.25,
        "y": 471.75,
        "wires": [
            [
                "bca24b94.c8f868",
                "31a78ab6.9b91e6"
            ]
        ]
    },
    {
        "id": "7dd02f90.181a4",
        "type": "mqtt in",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Armario/HumedadSuelo",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 134.25,
        "y": 416.75,
        "wires": [
            [
                "31a78ab6.9b91e6"
            ]
        ]
    },
    {
        "id": "d314847c.a64ba8",
        "type": "inject",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Target",
        "payload": "TemperaturaTarget",
        "payloadType": "global",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 136.25,
        "y": 174.75,
        "wires": [
            [
                "807dfdf.b8197"
            ]
        ]
    },
    {
        "id": "8216805a.22e37",
        "type": "inject",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Target",
        "payload": "HumedadTarget",
        "payloadType": "global",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 126.25,
        "y": 348.75,
        "wires": [
            [
                "1c583dbb.cc24a2"
            ]
        ]
    },
    {
        "id": "ee08917e.27736",
        "type": "inject",
        "z": "aaff6e62.1cd8b",
        "name": "",
        "topic": "Trigger",
        "payload": "HumedadSueloTrigger",
        "payloadType": "global",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 149.25,
        "y": 537.75,
        "wires": [
            [
                "bca24b94.c8f868"
            ]
        ]
    },
    {
        "id": "153eb0f3.2bf10f",
        "type": "switch",
        "z": "fdd9b26e.c7269",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 115.5,
        "y": 293,
        "wires": [
            [
                "412ebdfb.686ac4",
                "60918806.8ba288",
                "dceba731.5d6f88",
                "211cf4ca.40793c",
                "a485996f.1e66a8"
            ],
            [
                "b62ba49a.85c568",
                "211cf4ca.40793c"
            ]
        ]
    },
    {
        "id": "b62ba49a.85c568",
        "type": "change",
        "z": "fdd9b26e.c7269",
        "name": "stop All",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 371.2857360839844,
        "y": 299.14287185668945,
        "wires": [
            [
                "8b5165a5.d61e18",
                "c9e6b788.4026d8",
                "df532c85.4d9e4",
                "ee162e60.aa26a",
                "7e2c3cf7.5ca054",
                "39162d08.fbecf2"
            ]
        ]
    },
    {
        "id": "53f22de2.7ade24",
        "type": "switch",
        "z": "fdd9b26e.c7269",
        "name": "Fin Riego",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 882.7142677307129,
        "y": 402.00001335144043,
        "wires": [
            [
                "153eb0f3.2bf10f"
            ]
        ]
    },
    {
        "id": "d7fb4e64.6d707",
        "type": "subflow:fdd9b26e.c7269",
        "z": "a7776b85.a49d08",
        "name": "",
        "x": 398.6785888671875,
        "y": 522.142822265625,
        "wires": [
            [
                "a875d94f.3b4b18"
            ],
            [
                "edd9c460.337028"
            ],
            [
                "e2ddfaec.910488",
                "3f14f4aa.b7040c"
            ],
            [
                "abf0b578.7d1fe8"
            ],
            [
                "c01f7888.6c92f8"
            ],
            []
        ]
    },
    {
        "id": "c01f7888.6c92f8",
        "type": "mqtt out",
        "z": "a7776b85.a49d08",
        "name": "Fertilizante 2",
        "topic": "Armario/Relay/12",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 677.4285507202148,
        "y": 688.7142353057861,
        "wires": []
    },
    {
        "id": "abf0b578.7d1fe8",
        "type": "mqtt out",
        "z": "a7776b85.a49d08",
        "name": "Fertilizante 1",
        "topic": "Armario/Relay/11",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 678.9999961853027,
        "y": 640.2856407165527,
        "wires": []
    },
    {
        "id": "3f14f4aa.b7040c",
        "type": "mqtt out",
        "z": "a7776b85.a49d08",
        "name": "Calentador agua",
        "topic": "Armario/Relay/7",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 694.4285659790039,
        "y": 590.2856616973877,
        "wires": []
    },
    {
        "id": "e2ddfaec.910488",
        "type": "mqtt out",
        "z": "a7776b85.a49d08",
        "name": "Aireador",
        "topic": "Armario/Relay/6",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 663.2857704162598,
        "y": 538.4285068511963,
        "wires": []
    },
    {
        "id": "edd9c460.337028",
        "type": "mqtt out",
        "z": "a7776b85.a49d08",
        "name": "Bomba Riego",
        "topic": "Armario/Relay/5",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 683.2858257293701,
        "y": 491.14281845092773,
        "wires": []
    },
    {
        "id": "a875d94f.3b4b18",
        "type": "mqtt out",
        "z": "a7776b85.a49d08",
        "name": "Bomba Elevadora",
        "topic": "Armario/Relay/4",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 695.5715408325195,
        "y": 442.71425437927246,
        "wires": []
    },
    {
        "id": "211cf4ca.40793c",
        "type": "change",
        "z": "fdd9b26e.c7269",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Regando",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410.5,
        "y": 199,
        "wires": [
            [
                "8644521e.d431f"
            ]
        ]
    },
    {
        "id": "8644521e.d431f",
        "type": "mqtt out",
        "z": "fdd9b26e.c7269",
        "name": "",
        "topic": "Armario/Regando",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 414.5,
        "y": 251,
        "wires": []
    },
    {
        "id": "6e9b5994.18be38",
        "type": "ui_numeric",
        "z": "f1502aa1.f196d8",
        "name": "",
        "label": "Agua Ml",
        "tooltip": "",
        "group": "65029214.b9fcbc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "3000",
        "step": "100",
        "x": 371.4285888671875,
        "y": 656.89279961586,
        "wires": [
            [
                "c27e5d5a.ca89d"
            ]
        ]
    },
    {
        "id": "43bbfd57.854954",
        "type": "ui_numeric",
        "z": "f1502aa1.f196d8",
        "name": "",
        "label": "Fertilizante 1 Ml",
        "tooltip": "",
        "group": "65029214.b9fcbc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "10",
        "x": 365.4285888671875,
        "y": 706.89279961586,
        "wires": [
            [
                "446176a3.aa85b8"
            ]
        ]
    },
    {
        "id": "56adf2f7.c3d36c",
        "type": "ui_numeric",
        "z": "f1502aa1.f196d8",
        "name": "",
        "label": "Fertilizante 2 Ml",
        "tooltip": "",
        "group": "65029214.b9fcbc",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "10",
        "x": 368.4285888671875,
        "y": 771.89279961586,
        "wires": [
            [
                "2b599873.fed108"
            ]
        ]
    },
    {
        "id": "446176a3.aa85b8",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Fertilizante1Ml",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 587.4285888671875,
        "y": 706.89279961586,
        "wires": [
            [
                "c89e4c12.89523"
            ]
        ]
    },
    {
        "id": "2b599873.fed108",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Fertilizante2Ml",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590.4285888671875,
        "y": 768.89279961586,
        "wires": [
            [
                "f6c27e7b.32f9c"
            ]
        ]
    },
    {
        "id": "c27e5d5a.ca89d",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "AguaMl",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 557.4285888671875,
        "y": 652.89279961586,
        "wires": [
            [
                "3c889d6.daa8262"
            ]
        ]
    },
    {
        "id": "3c889d6.daa8262",
        "type": "persist in",
        "z": "f1502aa1.f196d8",
        "name": "AguaMl",
        "storageNode": "f4973d0b.97bd2",
        "x": 736.4285888671875,
        "y": 654.89279961586,
        "wires": []
    },
    {
        "id": "c89e4c12.89523",
        "type": "persist in",
        "z": "f1502aa1.f196d8",
        "name": "Fertilizante1Ml",
        "storageNode": "f4973d0b.97bd2",
        "x": 793.4285888671875,
        "y": 707.89279961586,
        "wires": []
    },
    {
        "id": "f6c27e7b.32f9c",
        "type": "persist in",
        "z": "f1502aa1.f196d8",
        "name": "Fertilizante2Ml",
        "storageNode": "f4973d0b.97bd2",
        "x": 810.4285888671875,
        "y": 767.89279961586,
        "wires": []
    },
    {
        "id": "ef1da62.4cfc558",
        "type": "persist out",
        "z": "f1502aa1.f196d8",
        "name": "AguaMl",
        "storageNode": "f4973d0b.97bd2",
        "x": 170.4285888671875,
        "y": 657.89279961586,
        "wires": [
            [
                "6e9b5994.18be38"
            ]
        ]
    },
    {
        "id": "c559ca7b.0ecb28",
        "type": "persist out",
        "z": "f1502aa1.f196d8",
        "name": "Fertilizante1Ml",
        "storageNode": "f4973d0b.97bd2",
        "x": 187.4285888671875,
        "y": 708.89279961586,
        "wires": [
            [
                "43bbfd57.854954"
            ]
        ]
    },
    {
        "id": "ffa59668.1c2188",
        "type": "persist out",
        "z": "f1502aa1.f196d8",
        "name": "Fertilizante2Ml",
        "storageNode": "f4973d0b.97bd2",
        "x": 190.4285888671875,
        "y": 771.89279961586,
        "wires": [
            [
                "56adf2f7.c3d36c"
            ]
        ]
    },
    {
        "id": "633c56b4.1cf368",
        "type": "ui_numeric",
        "z": "f1502aa1.f196d8",
        "name": "",
        "label": "Humedad Riego",
        "tooltip": "",
        "group": "65029214.b9fcbc",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "Armario/Humedad/Target",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "step": "10",
        "x": 447.9285888671875,
        "y": 598.39279961586,
        "wires": [
            [
                "792053cb.fa9a2c"
            ]
        ]
    },
    {
        "id": "792053cb.fa9a2c",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "HumedadSueloTrigger",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 697.9285888671875,
        "y": 598.39279961586,
        "wires": [
            [
                "5731529b.03848c"
            ]
        ]
    },
    {
        "id": "5731529b.03848c",
        "type": "persist in",
        "z": "f1502aa1.f196d8",
        "name": "HumedadSueloTrigger",
        "storageNode": "f4973d0b.97bd2",
        "x": 969.4285888671875,
        "y": 598.39279961586,
        "wires": []
    },
    {
        "id": "774ea8b3.482f48",
        "type": "persist out",
        "z": "f1502aa1.f196d8",
        "name": "HumedadSueloTrigger",
        "storageNode": "f4973d0b.97bd2",
        "x": 203.4285888671875,
        "y": 596.3928129673004,
        "wires": [
            [
                "633c56b4.1cf368"
            ]
        ]
    },
    {
        "id": "f04359a0.8923f8",
        "type": "ui_button",
        "z": "f1502aa1.f196d8",
        "name": "",
        "group": "65029214.b9fcbc",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-tint",
        "payload": "1",
        "payloadType": "str",
        "topic": "Armario/Regar",
        "x": 901.4285736083984,
        "y": 94.71432685852051,
        "wires": [
            [
                "611df4e0.884b4c"
            ]
        ]
    },
    {
        "id": "e2cb7ecb.aacd4",
        "type": "ui_dropdown",
        "z": "f1502aa1.f196d8",
        "name": "",
        "label": "Riego",
        "tooltip": "",
        "place": "Select option",
        "group": "65029214.b9fcbc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Manual",
                "value": "Manual",
                "type": "str"
            },
            {
                "label": "Auto",
                "value": "Auto",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 212.64287567138672,
        "y": 348.5714294910431,
        "wires": [
            [
                "f8e4c3c2.242f6"
            ]
        ]
    },
    {
        "id": "fb213bd3.570a48",
        "type": "persist in",
        "z": "f1502aa1.f196d8",
        "name": "Riego",
        "storageNode": "f4973d0b.97bd2",
        "x": 559.1428070068359,
        "y": 314.2857201099396,
        "wires": []
    },
    {
        "id": "f8e4c3c2.242f6",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Riego",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 369.6428756713867,
        "y": 348.5714294910431,
        "wires": [
            [
                "fb213bd3.570a48",
                "caa12d61.939bd",
                "179d06ce.aaa769",
                "e7009633.3fe588"
            ]
        ]
    },
    {
        "id": "82eacd02.db7ec",
        "type": "persist out",
        "z": "f1502aa1.f196d8",
        "name": "Riego",
        "storageNode": "f4973d0b.97bd2",
        "x": 82.14287567138672,
        "y": 348.5714294910431,
        "wires": [
            [
                "e2cb7ecb.aacd4"
            ]
        ]
    },
    {
        "id": "caa12d61.939bd",
        "type": "switch",
        "z": "f1502aa1.f196d8",
        "name": "Riego",
        "property": "Riego",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "Auto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Manual",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 431.64288330078125,
        "y": 108.71428894996643,
        "wires": [
            [
                "98ad684.789b098"
            ],
            [
                "7639189.88b45e8"
            ]
        ]
    },
    {
        "id": "98ad684.789b098",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Disabled Auto",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 513.0714569091797,
        "y": 54.142853021621704,
        "wires": [
            [
                "de579c15.8ef1"
            ]
        ]
    },
    {
        "id": "7639189.88b45e8",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Enabled Manual",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 501.85713958740234,
        "y": 154.99999833106995,
        "wires": [
            [
                "de579c15.8ef1"
            ]
        ]
    },
    {
        "id": "611df4e0.884b4c",
        "type": "switch",
        "z": "f1502aa1.f196d8",
        "name": "Regando?",
        "property": "Regando",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1041.9286499023438,
        "y": 95.7142927646637,
        "wires": [
            [
                "bf1d0bb3.079e78"
            ],
            [
                "a1c288ff.e26ee8"
            ]
        ]
    },
    {
        "id": "bf1d0bb3.079e78",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Regar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1096.9286499023438,
        "y": 36.714292764663696,
        "wires": [
            [
                "7523dad8.8389d4"
            ]
        ]
    },
    {
        "id": "a1c288ff.e26ee8",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Detener",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1099.4286499023438,
        "y": 152.7142927646637,
        "wires": [
            [
                "7523dad8.8389d4"
            ]
        ]
    },
    {
        "id": "7523dad8.8389d4",
        "type": "mqtt out",
        "z": "f1502aa1.f196d8",
        "name": "",
        "topic": "Armario/Regar",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1278.5001640319824,
        "y": 95.57140803337097,
        "wires": []
    },
    {
        "id": "de579c15.8ef1",
        "type": "switch",
        "z": "f1502aa1.f196d8",
        "name": "Regando?",
        "property": "Regando",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 688.5714073181152,
        "y": 99.14287400245667,
        "wires": [
            [
                "6a764182.9a2f5"
            ],
            [
                "8a885e7d.c92b6"
            ]
        ]
    },
    {
        "id": "6a764182.9a2f5",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Regar",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Regar",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "default",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 718.5714721679688,
        "y": 49.42861771583557,
        "wires": [
            [
                "f04359a0.8923f8"
            ]
        ]
    },
    {
        "id": "8a885e7d.c92b6",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Detener Enabled",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Detener",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "background",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 755.6428833007812,
        "y": 160.00004410743713,
        "wires": [
            [
                "f04359a0.8923f8"
            ]
        ]
    },
    {
        "id": "18a487f1.9d2c18",
        "type": "mqtt in",
        "z": "f1502aa1.f196d8",
        "name": "",
        "topic": "Armario/Regando",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 87.85714721679688,
        "y": 110.00005459785461,
        "wires": [
            [
                "caa12d61.939bd"
            ]
        ]
    },
    {
        "id": "ca0c56b0.777ff8",
        "type": "inject",
        "z": "f1502aa1.f196d8",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 85.00000762939453,
        "y": 205.7143099308014,
        "wires": [
            [
                "500a9505.f44fac"
            ]
        ]
    },
    {
        "id": "500a9505.f44fac",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Regando",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 242,
        "y": 205.14283752441406,
        "wires": [
            [
                "caa12d61.939bd"
            ]
        ]
    },
    {
        "id": "54225f9c.f5801",
        "type": "bigtimer",
        "z": "a7776b85.a49d08",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": "-27.44951",
        "lon": "-48.53181",
        "starttime": "1380",
        "endtime": "10001",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": false,
        "atstart": false,
        "odd": false,
        "even": false,
        "x": 574.142822265625,
        "y": 277.7142333984375,
        "wires": [
            [
                "19896b5c.0a3b05"
            ],
            [],
            []
        ]
    },
    {
        "id": "b34bd96f.12d808",
        "type": "inject",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "",
        "payload": "Riego",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 122.42858123779297,
        "y": 319.1428527832031,
        "wires": [
            [
                "f4795426.2cc938"
            ]
        ]
    },
    {
        "id": "f4795426.2cc938",
        "type": "switch",
        "z": "a7776b85.a49d08",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Auto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Manual",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 278.8571014404297,
        "y": 284.7141647338867,
        "wires": [
            [
                "bbdf0ffa.1f631"
            ],
            [
                "cba19508.4430b8"
            ]
        ]
    },
    {
        "id": "bbdf0ffa.1f631",
        "type": "change",
        "z": "a7776b85.a49d08",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 412.71429443359375,
        "y": 249.85707092285156,
        "wires": [
            [
                "54225f9c.f5801"
            ]
        ]
    },
    {
        "id": "cba19508.4430b8",
        "type": "change",
        "z": "a7776b85.a49d08",
        "name": "stop",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 413.92859268188477,
        "y": 307.71424102783203,
        "wires": [
            [
                "54225f9c.f5801"
            ]
        ]
    },
    {
        "id": "ccdd6779.7aad98",
        "type": "switch",
        "z": "a7776b85.a49d08",
        "name": "Humedad Suelo Baja",
        "property": "HumedadSuelo",
        "propertyType": "global",
        "rules": [
            {
                "t": "lte",
                "v": "HumedadSueloTrigger",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 220.00003051757812,
        "y": 414.4286804199219,
        "wires": [
            [
                "d7fb4e64.6d707"
            ]
        ]
    },
    {
        "id": "599f8ebe.6d5ef",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Armario/Riego",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 114.85713958740234,
        "y": 257.99998474121094,
        "wires": [
            [
                "f4795426.2cc938"
            ]
        ]
    },
    {
        "id": "d3d5348d.5b5ab8",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Enabled Auto",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690.7143249511719,
        "y": 456.9999907016754,
        "wires": [
            [
                "633c56b4.1cf368"
            ]
        ]
    },
    {
        "id": "21e4b958.3aa826",
        "type": "switch",
        "z": "f1502aa1.f196d8",
        "name": "Riego",
        "property": "Riego",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "Auto",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Manual",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 506.28575134277344,
        "y": 474.57142663002014,
        "wires": [
            [
                "d3d5348d.5b5ab8"
            ],
            [
                "987280d4.ee75b"
            ]
        ]
    },
    {
        "id": "987280d4.ee75b",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "Disabled Manual",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 697.5,
        "y": 496.8571379184723,
        "wires": [
            [
                "633c56b4.1cf368"
            ]
        ]
    },
    {
        "id": "e90e9ca1.48e4f",
        "type": "inject",
        "z": "f1502aa1.f196d8",
        "name": "",
        "topic": "",
        "payload": "HumedadSueloTrigger",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 149.50001525878906,
        "y": 524.9999582767487,
        "wires": [
            [
                "179d06ce.aaa769"
            ]
        ]
    },
    {
        "id": "179d06ce.aaa769",
        "type": "change",
        "z": "f1502aa1.f196d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "HumedadSueloTrigger",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 356.21429443359375,
        "y": 475.9999907016754,
        "wires": [
            [
                "21e4b958.3aa826"
            ]
        ]
    },
    {
        "id": "e7009633.3fe588",
        "type": "mqtt out",
        "z": "f1502aa1.f196d8",
        "name": "",
        "topic": "Armario/Riego",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 585.7142715454102,
        "y": 370.0000069141388,
        "wires": []
    },
    {
        "id": "7aad8914.e615a8",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790.5,
        "y": 557.0000019073486,
        "wires": [
            []
        ]
    },
    {
        "id": "a6d8de1.b2e792",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800.5,
        "y": 639.0000019073486,
        "wires": [
            []
        ]
    },
    {
        "id": "19896b5c.0a3b05",
        "type": "switch",
        "z": "a7776b85.a49d08",
        "name": "Es Hora",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 723.5000114440918,
        "y": 265.00000381469727,
        "wires": [
            [
                "ccdd6779.7aad98"
            ]
        ]
    },
    {
        "id": "a485996f.1e66a8",
        "type": "change",
        "z": "fdd9b26e.c7269",
        "name": "Fertilizante3Ml",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number($globalContext(\"Fertilizante3Ml\"))*$number($globalContext(\"Fertilizante3Ratio\"))",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 394,
        "y": 619.0000267028809,
        "wires": [
            [
                "39162d08.fbecf2"
            ]
        ]
    },
    {
        "id": "39162d08.fbecf2",
        "type": "function",
        "z": "fdd9b26e.c7269",
        "name": "payload Trigger",
        "func": "\nif (msg.reset != 0)\n{\n    clearTimeout(context.get('timer'));\n    node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n    msg.payload = \"0\"\n    node.send(msg)\n}\nif (msg.payload != 0)\n{\n    var number = msg.payload;\n\n    let t = setTimeout(function()\n    {\n        node.status({fill:\"red\",shape:\"ring\",text:\"Disabled\"});\n        msg.payload = \"0\"\n        node.send(msg)\n    }   , number); // sets timeout\n    context.set('timer', t);\n\n    node.status({fill:\"green\",shape:\"dot\",text:\"Enabled\"});    \n    msg.payload = \"1\"\n    node.send(msg)\n    \n    return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 584.5000076293945,
        "y": 618.7500257492065,
        "wires": [
            []
        ],
        "icon": "node-red/trigger.png"
    },
    {
        "id": "eda4e0e0.808fa",
        "type": "switch",
        "z": "ee72035b.525fc",
        "name": "Pause",
        "property": "pause",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 90.5,
        "y": 292,
        "wires": [
            [
                "1fda0057.7f045",
                "c81b5a00.56ef18"
            ],
            [
                "ba7cc2dd.e24de"
            ]
        ]
    },
    {
        "id": "ba7cc2dd.e24de",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Restaurar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lastPayload",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 228.5,
        "y": 348,
        "wires": [
            [
                "8af53ac9.887e78"
            ]
        ]
    },
    {
        "id": "e3fd5168.66b3d",
        "type": "change",
        "z": "19014767.b6ae39",
        "name": "Pause",
        "rules": [
            {
                "t": "set",
                "p": "pause",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 317.5,
        "y": 209,
        "wires": [
            [
                "b36b5c24.fb5a9",
                "e4a99dc.b236d6",
                "fa44aa0b.4f1538"
            ]
        ]
    },
    {
        "id": "b7403bdd.cbc8e8",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Timelapse",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 119.5,
        "y": 183,
        "wires": [
            [
                "e3fd5168.66b3d"
            ]
        ]
    },
    {
        "id": "5ea82a14.cc2d74",
        "type": "switch",
        "z": "ee72035b.525fc",
        "name": "Is Not Pause",
        "property": "pause",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 107,
        "y": 83,
        "wires": [
            [
                "1fda0057.7f045",
                "bae944a6.4759c8"
            ]
        ]
    },
    {
        "id": "bae944a6.4759c8",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Salvar",
        "rules": [
            {
                "t": "set",
                "p": "lastPayload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 142,
        "y": 138,
        "wires": [
            [
                "54c7c993.806928"
            ]
        ]
    },
    {
        "id": "dcec5071.7dad4",
        "type": "subflow:fa7bb1d6.15af7",
        "z": "19014767.b6ae39",
        "name": "Fotoperiodo",
        "x": 458.5000534057617,
        "y": 830.2500247955322,
        "wires": [
            [
                "e92e04b6.46bd98"
            ]
        ]
    },
    {
        "id": "6ed5f812.32e9e8",
        "type": "switch",
        "z": "fa7bb1d6.15af7",
        "name": "stop/auto",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "auto",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 114,
        "y": 120.25000190734863,
        "wires": [
            [
                "a773ad31.3605e"
            ],
            [
                "71a2194d.64d9e8"
            ],
            [
                "2426c2d5.a5f15e",
                "4427c411.490eac"
            ]
        ]
    },
    {
        "id": "e92e04b6.46bd98",
        "type": "mqtt out",
        "z": "19014767.b6ae39",
        "name": "Luz",
        "topic": "Armario/Relay/3",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 618.7500076293945,
        "y": 838.5,
        "wires": []
    },
    {
        "id": "6ebc8dd3.1fa8d4",
        "type": "subflow:fa7bb1d6.15af7",
        "z": "ee72035b.525fc",
        "name": "",
        "x": 756.8750076293945,
        "y": 373.7500047683716,
        "wires": [
            []
        ]
    },
    {
        "id": "7d77b1f6.4d7ed",
        "type": "inject",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Fotoperiodo",
        "payload": "Fotoperiodo",
        "payloadType": "global",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 130.99999237060547,
        "y": 778.7500123977661,
        "wires": [
            [
                "dcec5071.7dad4"
            ]
        ]
    },
    {
        "id": "aabefd73.40d25",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Fotoperiodo",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 129.74999237060547,
        "y": 822.7500009536743,
        "wires": [
            [
                "dcec5071.7dad4"
            ]
        ]
    },
    {
        "id": "71a2194d.64d9e8",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "Make Auto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fotoperiodo",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "IsStop",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 344.00000762939453,
        "y": 156.2500171661377,
        "wires": [
            [
                "4427c411.490eac",
                "2426c2d5.a5f15e"
            ]
        ]
    },
    {
        "id": "4ebf172b.f87de8",
        "type": "change",
        "z": "ee72035b.525fc",
        "name": "Auto",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 611.2500076293945,
        "y": 370.0000047683716,
        "wires": [
            [
                "6ebc8dd3.1fa8d4"
            ]
        ]
    },
    {
        "id": "a773ad31.3605e",
        "type": "change",
        "z": "fa7bb1d6.15af7",
        "name": "IsStop",
        "rules": [
            {
                "t": "set",
                "p": "IsStop",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 365.62500381469727,
        "y": 72.50000953674316,
        "wires": [
            [
                "2426c2d5.a5f15e"
            ]
        ]
    },
    {
        "id": "f277ac37.844e1",
        "type": "switch",
        "z": "fa7bb1d6.15af7",
        "name": "Is Auto in Mode",
        "property": "IsStop",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 125.625,
        "y": 268.75000381469727,
        "wires": [
            [
                "6ed5f812.32e9e8"
            ]
        ]
    },
    {
        "id": "7a0dee5e.997dd",
        "type": "mqtt in",
        "z": "fa7bb1d6.15af7",
        "name": "",
        "topic": "Armario/Fotoperiodo",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 118.75,
        "y": 348.7500057220459,
        "wires": [
            [
                "f277ac37.844e1"
            ]
        ]
    },
    {
        "id": "96780e3c.6d98d",
        "type": "ui_template",
        "z": "dd4b3d65.557db",
        "group": "b7be58b8.30a028",
        "name": "Fertilizante 1",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Fertilizante 1\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "51a8c57c.68fd3c"
            ]
        ],
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "51a8c57c.68fd3c",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Pulse/Fertilizante1",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1047.5,
        "y": 600,
        "wires": []
    },
    {
        "id": "5bc8585.d29dea8",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Pulse/Fertilizante1",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 220.125,
        "y": 728.7500085830688,
        "wires": [
            [
                "abf0b578.7d1fe8"
            ]
        ]
    },
    {
        "id": "ed813973.3d25c8",
        "type": "ui_template",
        "z": "dd4b3d65.557db",
        "group": "b7be58b8.30a028",
        "name": "Fertilizante 2",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Fertilizante 2\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 850.3749923706055,
        "y": 652.2499961853027,
        "wires": [
            [
                "4ca25da.eb0fea4"
            ]
        ],
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "4ca25da.eb0fea4",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Pulse/Fertilizante2",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1047.8749923706055,
        "y": 652.2499961853027,
        "wires": []
    },
    {
        "id": "3dcf91a9.cc23ae",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Pulse/Fertilizante2",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 220,
        "y": 780,
        "wires": [
            [
                "c01f7888.6c92f8"
            ]
        ]
    },
    {
        "id": "a36a3135.3bc96",
        "type": "ui_template",
        "z": "dd4b3d65.557db",
        "group": "b7be58b8.30a028",
        "name": "Agua",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Agua\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 831.375,
        "y": 499.25,
        "wires": [
            [
                "b6087051.a536f"
            ]
        ],
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "b6087051.a536f",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Pulse/Agua",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1028.875,
        "y": 499.25,
        "wires": []
    },
    {
        "id": "f704bdc4.d6e7b",
        "type": "ui_template",
        "z": "dd4b3d65.557db",
        "group": "b7be58b8.30a028",
        "name": "Riego",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Riego\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 830.375,
        "y": 545.25,
        "wires": [
            [
                "bda9896.a110d78"
            ]
        ],
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "bda9896.a110d78",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Pulse/Riego",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 1027.875,
        "y": 545.25,
        "wires": []
    },
    {
        "id": "bfaf8487.240fe8",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Pulse/Agua",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 200,
        "y": 623,
        "wires": [
            [
                "a875d94f.3b4b18"
            ]
        ]
    },
    {
        "id": "3f045d17.a331c2",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Pulse/Riego",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 199.875,
        "y": 674.2499914169312,
        "wires": [
            [
                "edd9c460.337028"
            ]
        ]
    },
    {
        "id": "a012e441.d2e828",
        "type": "ui_button",
        "z": "dd4b3d65.557db",
        "name": "Modo Mantenimiento",
        "group": "e9270f5d.745d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 447.5000305175781,
        "y": 166.00000762939453,
        "wires": [
            [
                "697b803c.719be"
            ]
        ]
    },
    {
        "id": "715a31dd.28342",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Armario/Mantenimiento",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 861.5000305175781,
        "y": 320.00000762939453,
        "wires": []
    },
    {
        "id": "b399c8c5.ef51f8",
        "type": "trigger",
        "z": "dd4b3d65.557db",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 750.5000305175781,
        "y": 201.00000762939453,
        "wires": [
            [
                "6dbdd880.28b648"
            ]
        ]
    },
    {
        "id": "82ad0681.5a9098",
        "type": "switch",
        "z": "dd4b3d65.557db",
        "name": "EnMantenimiento?",
        "property": "EnMantenimiento",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 147.7142333984375,
        "y": 232.42858123779297,
        "wires": [
            [
                "4b5d22f5.888aec"
            ],
            [
                "192be9a2.9e2686"
            ]
        ]
    },
    {
        "id": "4b5d22f5.888aec",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Iniciar",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Iniciar",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 213.71429824829102,
        "y": 183.71432495117188,
        "wires": [
            [
                "a012e441.d2e828"
            ]
        ]
    },
    {
        "id": "192be9a2.9e2686",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Detener",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "msg",
                "to": "Detener",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 184.78570938110352,
        "y": 287.28575134277344,
        "wires": [
            [
                "a012e441.d2e828"
            ]
        ]
    },
    {
        "id": "6dbdd880.28b648",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "EnMantenimiento",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 869.5000305175781,
        "y": 260.00000762939453,
        "wires": [
            [
                "715a31dd.28342"
            ]
        ]
    },
    {
        "id": "697b803c.719be",
        "type": "switch",
        "z": "dd4b3d65.557db",
        "name": "EnMantenimiento?",
        "property": "EnMantenimiento",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 476.0000305175781,
        "y": 232.00000762939453,
        "wires": [
            [
                "b399c8c5.ef51f8"
            ],
            [
                "6f1bd4d8.4c01fc"
            ]
        ]
    },
    {
        "id": "6f1bd4d8.4c01fc",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Detener",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 585.5000305175781,
        "y": 296.00000762939453,
        "wires": [
            [
                "6dbdd880.28b648",
                "b399c8c5.ef51f8"
            ]
        ]
    },
    {
        "id": "f6f459e1.3127e8",
        "type": "mqtt in",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Armario/Mantenimiento",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 119.5,
        "y": 117,
        "wires": [
            [
                "82ad0681.5a9098",
                "96b1b685.d49218"
            ]
        ]
    },
    {
        "id": "6577540.6b120ac",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Mantenimiento",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 128,
        "y": 239,
        "wires": [
            [
                "e3fd5168.66b3d"
            ]
        ]
    },
    {
        "id": "5a37a355.cfb80c",
        "type": "inject",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 86.5,
        "y": 22,
        "wires": [
            [
                "56379c15.589114"
            ]
        ]
    },
    {
        "id": "56379c15.589114",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "EnMantenimiento",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 79,
        "wires": [
            [
                "82ad0681.5a9098",
                "96b1b685.d49218"
            ]
        ]
    },
    {
        "id": "2428cc51.2dc134",
        "type": "ui_switch",
        "z": "dd4b3d65.557db",
        "name": "",
        "label": "Luz",
        "tooltip": "",
        "group": "e9270f5d.745d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 435.50000381469727,
        "y": 407.00000762939453,
        "wires": [
            [
                "1f8a5fc3.b2c47"
            ]
        ]
    },
    {
        "id": "f02cb104.7783d",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Disabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 252,
        "y": 340,
        "wires": [
            [
                "2428cc51.2dc134"
            ]
        ]
    },
    {
        "id": "96b1b685.d49218",
        "type": "switch",
        "z": "dd4b3d65.557db",
        "name": "EnMantenimiento?",
        "property": "EnMantenimiento",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 194.99993896484375,
        "y": 391.7142639160156,
        "wires": [
            [
                "f02cb104.7783d"
            ],
            [
                "e836411d.6eb5a"
            ]
        ]
    },
    {
        "id": "e836411d.6eb5a",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Enabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 236.0714111328125,
        "y": 445.5714416503906,
        "wires": [
            [
                "2428cc51.2dc134"
            ]
        ]
    },
    {
        "id": "29296cb0.341f24",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/LuzMantenimiento",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 436,
        "y": 740,
        "wires": [
            [
                "e92e04b6.46bd98"
            ]
        ]
    },
    {
        "id": "b007fce2.815ba",
        "type": "mqtt in",
        "z": "19014767.b6ae39",
        "name": "",
        "topic": "Armario/Mantenimiento",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 119,
        "y": 652,
        "wires": [
            [
                "df354c9d.ea328"
            ]
        ]
    },
    {
        "id": "21d64b72.cf58b4",
        "type": "change",
        "z": "19014767.b6ae39",
        "name": "Enviar Fotoperiodo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fotoperiodo",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 130.5,
        "y": 731,
        "wires": [
            [
                "dcec5071.7dad4"
            ]
        ]
    },
    {
        "id": "df354c9d.ea328",
        "type": "switch",
        "z": "19014767.b6ae39",
        "name": "When Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 308,
        "y": 653,
        "wires": [
            [
                "21d64b72.cf58b4"
            ]
        ]
    },
    {
        "id": "1f8a5fc3.b2c47",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "",
        "topic": "Armario/LuzMantenimiento",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 638.5,
        "y": 407,
        "wires": []
    },
    {
        "id": "1439eda9.f90362",
        "type": "mqtt in",
        "z": "a7776b85.a49d08",
        "name": "",
        "topic": "Armario/Mantenimiento",
        "qos": "2",
        "broker": "855a2cc.f3e5bd",
        "x": 144,
        "y": 133,
        "wires": [
            [
                "8975e07.413c02"
            ]
        ]
    },
    {
        "id": "8975e07.413c02",
        "type": "switch",
        "z": "a7776b85.a49d08",
        "name": "On/Off",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 308.75000381469727,
        "y": 133.00000190734863,
        "wires": [
            [
                "cba19508.4430b8"
            ],
            [
                "c9aa5faa.401a4"
            ]
        ]
    },
    {
        "id": "c9aa5faa.401a4",
        "type": "change",
        "z": "a7776b85.a49d08",
        "name": "Enviar Riego",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Riego",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 115.5,
        "y": 203,
        "wires": [
            [
                "f4795426.2cc938"
            ]
        ]
    },
    {
        "id": "582a6132.d5d6",
        "type": "ui_dropdown",
        "z": "dd4b3d65.557db",
        "name": "Medida",
        "label": "Medida Calibracion",
        "tooltip": "",
        "place": "",
        "group": "f878a16e.d4c67",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "options": [
            {
                "label": "100Ml",
                "value": 100,
                "type": "num"
            },
            {
                "label": "1L",
                "value": 1000,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 222.50012588500977,
        "y": 688.0001583099365,
        "wires": [
            [
                "2ae2eaf9.9b3746"
            ]
        ]
    },
    {
        "id": "5627cb8f.f953b4",
        "type": "ui_button",
        "z": "dd4b3d65.557db",
        "name": "",
        "group": "f878a16e.d4c67",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Cancelar",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 530.5001754760742,
        "y": 1097.0003986358643,
        "wires": [
            [
                "95ace02.42acb2"
            ]
        ]
    },
    {
        "id": "5fdb02a4.4d830c",
        "type": "ui_button",
        "z": "dd4b3d65.557db",
        "name": "",
        "group": "f878a16e.d4c67",
        "order": 6,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Listo",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 516.0001754760742,
        "y": 1010.0003347396851,
        "wires": [
            [
                "a2e149f7.66bb48"
            ]
        ]
    },
    {
        "id": "95ace02.42acb2",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Borrar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 697.0001811981201,
        "y": 1097.0003986358643,
        "wires": [
            [
                "76329d9c.d12244"
            ]
        ]
    },
    {
        "id": "2ae2eaf9.9b3746",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Medida",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 392.50012969970703,
        "y": 687.0001621246338,
        "wires": [
            [
                "76329d9c.d12244",
                "f66f5aa5.2b0608",
                "6e4db0df.cbfed"
            ]
        ]
    },
    {
        "id": "90f86d66.efb82",
        "type": "ui_dropdown",
        "z": "dd4b3d65.557db",
        "name": "",
        "label": "Bomba",
        "tooltip": "",
        "place": "Select option",
        "group": "f878a16e.d4c67",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Agua",
                "value": "Agua",
                "type": "str"
            },
            {
                "label": "Riego",
                "value": "Riego",
                "type": "str"
            },
            {
                "label": "Fertilizante 1",
                "value": "Fertilizante1",
                "type": "str"
            },
            {
                "label": "Fertilizante 2",
                "value": "Fertilizante2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 225.1667938232422,
        "y": 616.3334522247314,
        "wires": [
            [
                "28e947a8.86e0f8"
            ]
        ]
    },
    {
        "id": "90f82c4a.e1c0c",
        "type": "function",
        "z": "dd4b3d65.557db",
        "name": "Get Ratio",
        "func": "msg.payload = global.get(msg.payload + \"Ratio\") || 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 607.1668853759766,
        "y": 625.6669082641602,
        "wires": [
            [
                "4eb14311.deaa3c"
            ]
        ]
    },
    {
        "id": "28e947a8.86e0f8",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Bomba",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 382.00009536743164,
        "y": 618.3334493637085,
        "wires": [
            [
                "90f82c4a.e1c0c",
                "76329d9c.d12244",
                "ec38144f.721128",
                "6e4db0df.cbfed"
            ]
        ]
    },
    {
        "id": "76329d9c.d12244",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "set TotalTime 0",
        "rules": [
            {
                "t": "set",
                "p": "TotalTime",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 744.0001831054688,
        "y": 819.3334398269653,
        "wires": [
            [
                "cf5a49aa.4aba58"
            ]
        ]
    },
    {
        "id": "fb787b4b.4ba388",
        "type": "function",
        "z": "dd4b3d65.557db",
        "name": "Calculate Total Time",
        "func": "if (msg.payload == 1)\n{\n    context.set(\"startTime\", new Date().getTime())\n}\nif (msg.payload == 0)\n{\n    var timePased = context.get(\"startTime\") - new Date().getTime();\n    \n    timePased = Math.abs(timePased) \n              + Math.abs(flow.get('TotalTime'));\n    \n    node.send({payload: timePased});\n \n}\n\nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 155.00018310546875,
        "y": 1049.3334012031555,
        "wires": [
            [
                "eee37344.4d08e"
            ]
        ]
    },
    {
        "id": "b786d875.e16998",
        "type": "ui_template",
        "z": "dd4b3d65.557db",
        "group": "f878a16e.d4c67",
        "name": "Iniciar",
        "order": 5,
        "width": "2",
        "height": "1",
        "format": "<script>\nthis.scope.on = {payload: 1};\nthis.scope.off = {payload: 0};\n</script>\n<md-button\n   ng-touchstart=\"send(on)\"\n   ng-mousedown=\"send(on)\"\n   ng-touchend=\"send(off)\"\n   ng-mouseup=\"send(off)\">\n       Iniciar\n</md-button>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 119.00005340576172,
        "y": 956.6666746139526,
        "wires": [
            [
                "4656d4a.403e92c",
                "fb787b4b.4ba388"
            ]
        ],
        "icon": "node-red-dashboard/ui_button.png"
    },
    {
        "id": "eee37344.4d08e",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TotalTime",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 153.00038146972656,
        "y": 1093.666736125946,
        "wires": [
            [
                "ce8adfef.b115b"
            ]
        ]
    },
    {
        "id": "a2e149f7.66bb48",
        "type": "function",
        "z": "dd4b3d65.557db",
        "name": "Calculate Ratio",
        "func": "var totalTime = +flow.get(\"TotalTime\") || 0;\nvar medida = +flow.get(\"Medida\") || 0;\n\nif(!totalTime || !medida)\n    node.send({payload: 'error'});\n    \nnode.send({payload: totalTime / medida });\n",
        "outputs": 1,
        "noerr": 0,
        "x": 668.0002632141113,
        "y": 1010.6669201850891,
        "wires": [
            [
                "fd762b62.eaf9c8"
            ]
        ]
    },
    {
        "id": "fd762b62.eaf9c8",
        "type": "function",
        "z": "dd4b3d65.557db",
        "name": "Set Ratio",
        "func": "global.set(flow.get(\"Bomba\") + \"Ratio\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 1000,
        "wires": [
            [
                "76329d9c.d12244",
                "4eb14311.deaa3c"
            ]
        ]
    },
    {
        "id": "a1b369fc.a695c8",
        "type": "switch",
        "z": "dd4b3d65.557db",
        "name": "Validar Bomba",
        "property": "Bomba",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 218.16669464111328,
        "y": 816.3333568572998,
        "wires": [
            [
                "94f12790.d3a558"
            ],
            [
                "d223a5ce.f1be98"
            ]
        ]
    },
    {
        "id": "94f12790.d3a558",
        "type": "switch",
        "z": "dd4b3d65.557db",
        "name": "Validar Media",
        "property": "Medida",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 218.0000457763672,
        "y": 868.6666917800903,
        "wires": [
            [
                "c4972f04.c684d"
            ],
            [
                "d223a5ce.f1be98"
            ]
        ]
    },
    {
        "id": "d223a5ce.f1be98",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Disabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 453.0001335144043,
        "y": 857.0001678466797,
        "wires": [
            [
                "b786d875.e16998"
            ]
        ]
    },
    {
        "id": "c4972f04.c684d",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Enabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 444.0714225769043,
        "y": 822.5715370178223,
        "wires": [
            [
                "b786d875.e16998"
            ]
        ]
    },
    {
        "id": "8350f32c.45942",
        "type": "persist out",
        "z": "dd4b3d65.557db",
        "name": "Bomba",
        "storageNode": "f4973d0b.97bd2",
        "x": 86,
        "y": 615.6667032241821,
        "wires": [
            [
                "90f86d66.efb82"
            ]
        ]
    },
    {
        "id": "48c7a61e.b7ec38",
        "type": "persist out",
        "z": "dd4b3d65.557db",
        "name": "Medida",
        "storageNode": "f4973d0b.97bd2",
        "x": 82,
        "y": 687.6666870117188,
        "wires": [
            [
                "582a6132.d5d6"
            ]
        ]
    },
    {
        "id": "ec38144f.721128",
        "type": "persist in",
        "z": "dd4b3d65.557db",
        "name": "Bomba",
        "storageNode": "f4973d0b.97bd2",
        "x": 610.1666793823242,
        "y": 579.0001182556152,
        "wires": []
    },
    {
        "id": "f66f5aa5.2b0608",
        "type": "persist in",
        "z": "dd4b3d65.557db",
        "name": "Medida",
        "storageNode": "f4973d0b.97bd2",
        "x": 606.0000152587891,
        "y": 684.6667060852051,
        "wires": []
    },
    {
        "id": "cf5a49aa.4aba58",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Disabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 339.0001907348633,
        "y": 1010.0003347396851,
        "wires": [
            [
                "5fdb02a4.4d830c",
                "5627cb8f.f953b4"
            ]
        ]
    },
    {
        "id": "ce8adfef.b115b",
        "type": "change",
        "z": "dd4b3d65.557db",
        "name": "Enabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 341.0004119873047,
        "y": 1094.0002355575562,
        "wires": [
            [
                "5fdb02a4.4d830c",
                "5627cb8f.f953b4"
            ]
        ]
    },
    {
        "id": "6e4db0df.cbfed",
        "type": "delay",
        "z": "dd4b3d65.557db",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 157.5,
        "y": 769.6666889190674,
        "wires": [
            [
                "a1b369fc.a695c8"
            ]
        ]
    },
    {
        "id": "4656d4a.403e92c",
        "type": "function",
        "z": "dd4b3d65.557db",
        "name": "Pulse/flow.Bomba",
        "func": "msg.topic = 'Pulse/' +  flow.get('Bomba');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 940,
        "wires": [
            [
                "bd16d1ae.bf5b8"
            ]
        ]
    },
    {
        "id": "bd16d1ae.bf5b8",
        "type": "mqtt out",
        "z": "dd4b3d65.557db",
        "name": "Bomba",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "855a2cc.f3e5bd",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "faef40f6.674a2",
        "type": "ui_template",
        "z": "dd4b3d65.557db",
        "group": "1453bda0.653f22",
        "name": "Template Padding",
        "order": 8,
        "width": 0,
        "height": 0,
        "format": "<style>\n.nr-dashboard-template\n{\n    padding: 0px 0px    \n}\n.md-button{\n    height: 48px;\n}\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "global",
        "x": 872.5417327880859,
        "y": 451.9166564941406,
        "wires": [
            []
        ]
    },
    {
        "id": "4eb14311.deaa3c",
        "type": "ui_text_input",
        "z": "dd4b3d65.557db",
        "name": "",
        "label": "Ratio",
        "tooltip": "",
        "group": "f878a16e.d4c67",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 992.1667747497559,
        "y": 804.3333549499512,
        "wires": [
            [
                "fd762b62.eaf9c8"
            ]
        ]
    },
    {
        "id": "37feb3e1.c36eec",
        "type": "gpio in",
        "z": "aeff9ac1.39a408",
        "name": "",
        "state": "INPUT",
        "samplingInterval": "300",
        "pin": "",
        "board": "2786185f.9f4da8",
        "x": 200,
        "y": 260,
        "wires": [
            []
        ]
    }
]